<div class = "container">
	<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
	<% first = 0 %>
	<% @pointers.all.each do |pointer| %> 
		<% if first==0 %>
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<% first = first + 1%>
		<% else %>
			<li data-target="#myCarousel" data-slide-to= <%= first %> ></li>
			<% first = first + 1%>
		<% end %>
	<% end %>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
	<% first=0 %>
	<% @pointers.all.each do |pointer| %>
	<% @issues.where(id: pointer.issue_id).each do |issue| %>
	<% @persons.where(id: pointer.person_id).each do |person| %>
	<% @contents.where(id: pointer.content_id).each do |content| %>
		<% if first == 0 %>
			
				<div class="active item">
					<div align = "center" >
						<%= image_tag pointer.pic_link, height: "500px", alt: "2" %>
						<div class="carousel-caption">
							<h4>
								<% link="issuelist/"+issue.id.to_s%>
								<a href = <%= link %> >
								<%= issue.content %>
								</a>
							</h4>
							<% if content.text.length > 50 %>
								<p>
									點擊標題看更多
								</p>
							<% else %>
								<p>
									<%= content.text %>
								</p>
							<% end %>
							
						</div>
					</div>
				 </div>
			<% first = 1 %>
		<% else %>
			<div class="item">
				<div align = "center" >
				<%= image_tag pointer.pic_link, height: "500px", alt: "3" %>
				<div class="carousel-caption">
					
						<h4>
							<% link="issuelist/"+issue.id.to_s%>
							<a href = <%= link %> >
							<%= issue.content %>
							</a>
						</h4>
						<% if content.text.length > 50 %>
							<p>
								點擊標題看更多
							</p>
						<% else %>
							<p>
								<%= content.text %>
							</p>
						<% end %>
				</div>
				</div>
			</div>
		<% end %>    
	<% end %>
	<% end %>
	<% end %>
	<% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">上一個</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">下一個</a>
</div>

<div align = "center" >
	<% link="issuelist/" %>
	<a href = <%= link %> >
		所有語錄
	</a>
	
</div>
	<div class = "row">
		<div class = "col-md-4">
			<table class = "table table-bordered">
				<thead>
					<tr align = "center">
						<td class = "col-md-4">
							最新議題
						</td>
					</tr>
				</thead>
				<tbody>
					<% @issues.where(parent_id: -1).order(:updated_at ).reverse.each do |issue| %>
						<tr>
							<td>
								<% link="issuelist/"+issue.id.to_s%>
								<a href = <%= link %> >
								<%= issue.content %>
								</a>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
			
		<div class = "col-md-offset-2 col-md-6">
			<table class = "table table-bordered">
				<thead>
					<tr align = "center">
						<td class = "col-md-6" colspan = "2">
							熱門語錄
						</td>
					</tr>
					<tr align = "center">
						<td class = "col-md-2">
							名人
						</td>
						<td class = "col-md-4">
							語錄
						</td>
					</tr>
				</thead>
				<tbody>
					<% @issues.order(:count).reverse.each do |issue| %>
					<% @pointers.where(issue_id: issue.id).each do |pointer| %>
					<% @persons.where(id: pointer.person_id).each do |person| %>
					<% @contents.where(id: pointer.content_id).each do |content| %>
						<tr>
							<td>
								<% link="peoplelist/"+person.name%>
								<a href = <%= link %> >
									<%= person.name %>
								</a>
								
							</td>
							<td>
								<%= content.text %>
							</td>
						</tr>
					<% end %>
					<% end %>
					<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
