<div class = "container">
	<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
	<% first = 0 %>
	<% @details.each do |detail| %> 
		<% if first==0 %>
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<% first = first + 1%>
		<% else %>
			<li data-target="#myCarousel" data-slide-to= <%= first %> ></li>
			<% first = first + 1%>
		<% end %>
	<% end %>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner" style="background-color: #000000">
	<% first=0 %>
	<% @details.each do |detail| %>
		<% if first == 0 %>
			
				<div class="active item">
					<div align = "center" >
						<!-- 以後改 -->
						<% if true %>
							<%= image_tag 'http://i.imgur.com/TbBAqpV.png', height: "500px", alt: "1" %>
						<% else %>
							<%= image_tag detail.pic_link, height: "500px", alt: "1" %>
						<% end %>
						
						<div class="carousel-caption">
							<h4>
								<% link="detaillist/"+detail.id.to_s%>
								<div style="color: #ffffff">
									<%= detail.content %>
								</div>
							</h4>
							<a class="btn btn-lg btn-primary" href="<%= link %>" role="button"  >
								點擊看更多
							</a>
							
						</div>
					</div>
				 </div>
			<% first = 1 %>
		<% else %>
			<div class="item">
				<div align = "center" >
					<!-- 以後改 -->
					<% if true %>
						<%= image_tag "http://i.imgur.com/TbBAqpV.png", height: "500px",alt: "2" %>
					<% else %>
						<%= image_tag pointer.pic_link, height: "500px", alt: "2" %>
					<% end %>
				<div class="carousel-caption">
					
						<h4>
							<% link="detaillist/"+detail.id.to_s%>
							<div style="color: #ffffff">
								<%= detail.content %>
							</div>
						</h4>
						<a class="btn btn-lg btn-primary" href="<%= link %>" role="button"  >
								點擊看更多
						</a>
				</div>
				</div>
			</div>
		<% end %>    
	<% end %>
  </div>

  <!-- Carousel nav -->

	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
		</span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
		</span><span class="sr-only">Next</span>
	</a>
</div>

<div align = "center" >
	<% link="issuelist/" %>
	<a href = <%= link %> ><font color="white">
		所有議題
	</a>
	<% link="peoplelist/" %>
	<a href = <%= link %> ><font color="white">
		所有名人
	</a>
	
</div>
	<div class = "row">
		<div class = "col-md-4">
			<table class = "table table-bordered">
				<thead>
					<tr align = "center">
						<td class = "col-md-4">
							最新議題
						</td>
					</tr>
				</thead>
				<tbody>
					<% time=0 %>
					<% @issues.where(trunk_id: -1).order(:updated_at ).reverse.each do |issue| %>
					<% if time>=10 %>
						<% break %>
					<% end %>
					<% time=time+1 %>
						<tr>
							<td>
								<% link="issuelist/"+issue.id.to_s%>
								<a href = <%= link %> >
								<%= issue.title %>
								</a>
							</td>
						</tr>
						
					<% end %>
				</tbody>
			</table>
		</div>
			
		<div class = "col-md-offset-2 col-md-6">
			<table class = "table table-bordered">
				<thead>
					<tr align = "center">
						<td class = "col-md-6" colspan = "2">
							熱門語錄
						</td>
					</tr>
					<tr align = "center">
						<td class = "col-md-2">
							名人
						</td>
						<td class = "col-md-4">
							語錄
						</td>
					</tr>
				</thead>
				<tbody>
					<% time=0 %>
					<% @details.each do |detail| %>
					<% if time >=10 %>
						<% break %>
					<% end %>
					<% time=time+1 %>
						<tr>
							<td>
								<% link="peoplelist/"+detail.people_id.to_s %>
								<a href = <%= link %> >
									<% @persons.where(id: detail.people_id).each do |person| %>
										<%= person.name %>
									<% end %>
								</a>
								
							</td>
							<td>
								<% link="detaillist/"+detail.id.to_s%>
								<a href = <%= link %> >
									<% if detail.content.length > 30%>
										<%= '點擊看更多'%>
									<% else %>
										<%= detail.content %>
									<% end %>
								</a>
								
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
