<div class = "container">
	<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
	<% first = 0 %>
	<% @pointers.all.each do |pointer| %> 
		<% if first==0 %>
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<% first = first + 1%>
		<% else %>
			<li data-target="#myCarousel" data-slide-to= <%= first %> ></li>
			<% first = first + 1%>
		<% end %>
	<% end %>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner" style="background-color: #000000">
	<% first=0 %>
	<% @pointers.all.each do |pointer| %>
	<% @issues.where(id: pointer.issue_id).each do |issue| %>
	<% @persons.where(id: pointer.person_id).each do |person| %>
	<% @contents.where(id: pointer.content_id).each do |content| %>
		<% if first == 0 %>
			
				<div class="active item">
					<div align = "center" >
						<% if pointer.pic_link.nil? || pointer.pic_link.empty?%>
							<%= image_tag 'http://i.imgur.com/TbBAqpV.png', height: "500px", alt: "1" %>
						<% else %>
							<%= image_tag pointer.pic_link, height: "500px", alt: "1" %>
						<% end %>
						
						<div class="carousel-caption">
							<h4>
								<% link="issuelist/"+issue.id.to_s%>
								<div style="color: #ffffff">
									<%= issue.content %>
								</div>
							</h4>
							<a class="btn btn-lg btn-primary" href="<%= link %>" role="button"  >
								點擊看更多
							</a>
							
						</div>
					</div>
				 </div>
			<% first = 1 %>
		<% else %>
			<div class="item">
				<div align = "center" >
					<% if pointer.pic_link.nil? || pointer.pic_link.empty?%>
						<%= image_tag "http://i.imgur.com/TbBAqpV.png", height: "500px",alt: "2" %>
					<% else %>
						<%= image_tag pointer.pic_link, height: "500px", alt: "2" %>
					<% end %>
				<div class="carousel-caption">
					
						<h4>
							<% link="issuelist/"+issue.id.to_s%>
							<div style="color: #ffffff">
								<%= issue.content %>
							</div>
						</h4>
						<a class="btn btn-lg btn-primary" href="<%= link %>" role="button"  >
								點擊看更多
						</a>
				</div>
				</div>
			</div>
		<% end %>    
	<% end %>
	<% end %>
	<% end %>
	<% end %>
  </div>

  <!-- Carousel nav -->

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
<span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
</span>
<span class="sr-only">Previous</span>
</a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true">
</span><span class="sr-only">Next</span>
</a>
</div>

<div align = "center" >
	<% link="issuelist/" %>
	<a href = <%= link %> >
		所有語錄
	</a>
	
</div>
	<div class = "row">
		<div class = "col-md-4">
			<table class = "table table-bordered">
				<thead>
					<tr align = "center">
						<td class = "col-md-4">
							最新議題
						</td>
					</tr>
				</thead>
				<tbody>
					<% time=0 %>
					<% @issues.where(parent_id: -1).order(:updated_at ).reverse.each do |issue| %>
					<% if time>=10 %>
						<% break %>
					<% end %>
					<% time=time+1 %>
						<tr>
							<td>
								<% link="issuelist/"+issue.id.to_s%>
								<a href = <%= link %> >
								<%= issue.content %>
								</a>
							</td>
						</tr>
						
					<% end %>
				</tbody>
			</table>
		</div>
			
		<div class = "col-md-offset-2 col-md-6">
			<table class = "table table-bordered">
				<thead>
					<tr align = "center">
						<td class = "col-md-6" colspan = "2">
							熱門語錄
						</td>
					</tr>
					<tr align = "center">
						<td class = "col-md-2">
							名人
						</td>
						<td class = "col-md-4">
							語錄
						</td>
					</tr>
				</thead>
				<tbody>
					<% time=0 %>
					<% @issues.order(:count).reverse.each do |issue| %>
					<% @pointers.where(issue_id: issue.id).each do |pointer| %>
					<% @persons.where(id: pointer.person_id).each do |person| %>
					<% @contents.where(id: pointer.content_id).each do |content| %>
					<% if time >=10 %>
						<% break %>
					<% end %>
					<% time=time+1 %>
						<tr>
							<td>
								<% link="peoplelist/"+person.name%>
								<a href = <%= link %> >
									<%= person.name %>
								</a>
								
							</td>
							<td>
								<% link="issuelist/"+pointer.issue_id.to_s%>
								<a href = <%= link %> >
									<% if content.text.length > 30%>
										<%= '點擊看更多'%>
									<% else %>
										<%= content.text %>
									<% end %>
								</a>
								
							</td>
						</tr>
					<% end %>
					<% end %>
					<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
