<link rel="stylesheet" type="text/css" href="/css/table.css">

<!-- code donw here -->
<% def CreateNearHotIssueContent(maxContentNumber) %>
	<% @NearHotIssue.each do |item|%>
		<% link = issuelist_index_path(id: item.id) %>
		<tr><td><a href=<%= link %>><%= item.title %></a></td></tr>
	<% end %>
<% end %>
<% def CreateHotIssueTreeContent(maxContentNumber) %>
	<% @NearHotIssueTree.each do |item|%>
		<% link = "#" %>
		<tr><td><a href=<%= link %>><%= @issues.where(id: item.issue_id)[0].title %></a></td></tr>
	<% end %>
<% end %>
<% def CreateHotPeopleContent(maxContentNumber) %>
	<% @NearHotPeople.each do |item|%>
		<% link = peoplelist_index_path(id: item.name) %>
		<tr><td><a href=<%= link %>><%= item.name %></a></td></tr>
	<% end %>
<% end %>
<% def CreateMostInfluencePeopleContent(maxContentNumber) %>
	<% @influencePeople.each do |item|%>
		<% link = peoplelist_index_path(id: item.name) %>
		<tr><td><a href=<%= link %>><%= item.name %></a></td></tr>
	<% end %>
<% end %>
<% def CreateMostInfluenceMediaContent(maxContentNumber) %>
	<% @InfluenceMedia.each do |item|%>
		<% link = media_index_path(id: item.name) %>
		<tr><td><a href=<%= link %>><%= item.name %></a></td></tr>
	<% end %>
<% end %>
<% def CreateMostBalenceMediaContent(maxContentNumber) %>
	<% @BalanceMedia.each do |item|%>
		<% link = media_index_path(id: item.name) %>
		<tr><td><a href=<%= link %>><%= item.name %></a></td></tr>
	<% end %>
<% end %>
<% def CreateNearHotIssueTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td>近期熱門議題</td></tr>
		</thead>
		<tbody>
			<% CreateNearHotIssueContent(1) %>
		</tbody>
	</table>
<% end %>
<% def CreateHotIssueTreeTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td><% link = treeindex_path %><a href = <%=link%>>近期熱門議題樹</a></td></tr>
		</thead>
		<tbody>
		</tbody>
	</table>
<% end %>
<% def CreateHotPeopleTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td> 近期熱門名人</td></tr>
		</thead>
		<tbody>
			<% CreateHotPeopleContent(3) %>
		</tbody>
	</table>
<% end %>
<% def CreateMostInfluencePeopleTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td>最有影響力的名人</td></tr>	
		</thead>
		<tbody>
			<% CreateMostInfluencePeopleContent(4) %>
		</tbody>
	</table>
<% end %>
<% def CreateMostInfluenceMediaTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td>媒體影響力排名</td></tr>	
		</thead>
		<tbody>
			<% CreateMostInfluenceMediaContent(5) %>
		</tbody>
	</table>
<% end %>
<% def CreateMostBalenceMediaTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td>媒體平衡報導得分排名</td></tr>	
		</thead>
		<tbody>
			<% CreateMostBalenceMediaContent(6) %>
		</tbody>
	</table>
<% end %>

<div class = "col-md-offset-1 col-md-10" align = "center">
	<table class="table">
		<tr>
			<td><div><% CreateNearHotIssueTable() %></div></td>
			<td><div ><% CreateHotPeopleTable() %></div></td>
			<td><div><% CreateMostInfluencePeopleTable() %></div></td>
		</tr>
		<tr>
			
			<td><div><% CreateMostInfluenceMediaTable() %></div></td>
			<td><div><% CreateMostBalenceMediaTable() %></div></td>
			<!--<td><div ><% CreateHotIssueTreeTable() %></div></td>-->
		</tr>
	</table>
</div>
