<!-- 跑馬燈 -->
<div class = "container-fluid whiteText" align="middle">
	跑馬燈
</div>
<!-- 所有 issue person 連結 -->
<div align = "center">
	<% link=issuelist_all_path %>
	<a href = <%= link %> class="whiteText">
		所有議題
	</a>
	<% link=peoplelist_all_path %>
	<a href = <%= link %> class="whiteText">
		所有名人
	</a>
</div>
<!-- 左邊最新issue 右邊熱門detail -->
<div >
	<!-- newest issue -->
	<div class = "col-md-4 whiteText">
		<table class="table table-bordered">
			<thead>
				<tr align = "center">
					<td>newest issue</td>
				</tr>
			</thead>
			<tbody>
				<% time = 0 %>
				<% @issues.each do |issue| %>
					<% if time >= 10 %>
						<% break %>
					<% end %>
					<tr>
						<td>
							<% link="/Issuelist/"+issue.id.to_s%>
							<a href = <%= link %> >
							<%= issue.title %>
						</td>
					</tr>
					<% time = time + 1 %>
				<% end %>
				<% if time == 0 %>
					<tr><td>there is no issue</td></tr>
				<% end %>

			</tbody>
		</table>
	</div>
	<!-- hotest detail -->
	<div class = "col-md-offset-1 col-md-7 whiteText">
		<table class="table table-bordered">
			<thead>
				<tr align = "center">
					<td colspan = "2">hotest detail</td>
				</tr>
				<tr align = "center">
					<td>person</td>
					<td>detail</td>
				</tr>
			</thead>
			<tbody>
				<% time = 0 %>
				<% @details.each do |detail| %>
					<% if time >= 10 %>
						<% break %>
					<% end %>
					<tr>
						<td>
							<% person =  @person.where(id: detail.people_id)[0] %>
							<% link="/peoplelist/"+person.name %>
							<a href = <%= link %> >
								<%= person.name %>
							</a>
						</td>
						<td>
							<% link="/Detaillist/"+detail.id.to_s%>
							<a href = <%= link %> >
								<% if detail.content.length > 30 %>
									<%= 'click for more' %>
								<% else %>
									<%= detail.content %>
								<% end %>
							</a>
						</td>
					</tr>
					<% time = time + 1 %>
				<% end %>
				<% if time == 0 %>
					<tr><td>there is no person</td><td>there is no detail</td></tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>