<link rel="stylesheet" type="text/css" href="/css/table.css">

<!-- code donw here -->
<% def CreateNearHotIssueContent(maxContentNumber) %>
	<% @NearHotIssue.each do |item|%>
		<% link = issuelist_index_path(id: item.id) %>
		<tr><td><a href=<%= link %>><%= item.title %></a></td></tr>
	<% end %>
<% end %>
<% def CreateHotIssueTreeContent(maxContentNumber) %>
	<tr><td><%= maxContentNumber + 1%></td></tr>
<% end %>
<% def CreateHotPeopleContent(maxContentNumber) %>
	<% @NearHotPeople.each do |item|%>
		<% link = peoplelist_index_path(id: item.name) %>
		<tr><td><a href=<%= link %>><%= item.name %></a></td></tr>
	<% end %>
<% end %>
<% def CreateMostInfluencePeopleContent(maxContentNumber) %>
	<% @influencePeople.each do |item|%>
		<% link = peoplelist_index_path(id: item.name) %>
		<tr><td><a href=<%= link %>><%= item.name %></a></td></tr>
	<% end %>
<% end %>
<% def CreateMostInfluenceMediaContent(maxContentNumber) %>
	<% @InfluenceMedia.each do |item|%>
		<% link = media_index_path(id: item.name) %>
		<tr><td><a href=<%= link %>><%= item.name %></a></td></tr>
	<% end %>
<% end %>
<% def CreateMostBalenceMediaContent(maxContentNumber) %>
	<% @BalanceMedia.each do |item|%>
		<% link = media_index_path(id: item.name) %>
		<tr><td><a href=<%= link %>><%= item.name %></a></td></tr>
	<% end %>
<% end %>
<% def CreateNearHotIssueTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td>近期熱門議題</td></tr>
		</thead>
		<tbody>
			<% CreateNearHotIssueContent(1) %>
		</tbody>
	</table>
<% end %>
<% def CreateHotIssueTreeTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td>近期熱門議題樹</td></tr>
		</thead>
		<tbody>
			<% CreateHotIssueTreeContent(2) %>
		</tbody>
	</table>
<% end %>
<% def CreateHotPeopleTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td> 近期熱門名人</td></tr>
		</thead>
		<tbody>
			<% CreateHotPeopleContent(3) %>
		</tbody>
	</table>
<% end %>
<% def CreateMostInfluencePeopleTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td>最有影響力的名人</td></tr>	
		</thead>
		<tbody>
			<% CreateMostInfluencePeopleContent(4) %>
		</tbody>
	</table>
<% end %>
<% def CreateMostInfluenceMediaTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td>媒體影響力排名</td></tr>	
		</thead>
		<tbody>
			<% CreateMostInfluenceMediaContent(5) %>
		</tbody>
	</table>
<% end %>
<% def CreateMostBalenceMediaTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td>媒體平衡報導得分排名</td></tr>	
		</thead>
		<tbody>
			<% CreateMostBalenceMediaContent(6) %>
		</tbody>
	</table>
<% end %>

<div class="BigTitle">
    <h2>正反網頁</h2>
    <hr>
</div>
<!-- 所有 issue person 連結 -->
<div align = "center" style="float:none;">
	<% link=issuelist_all_path %>
	<a href = <%= link %> class="whiteText">
		所有根議題
	</a>
	<% link=peoplelist_all_path %>
	<a href = <%= link %> class="whiteText">
		所有名人
	</a>
	<% if can_view(0) %>
		<% link=issuelist_candidate_path %>
		<a href = <%= link %> class="whiteText">
			所有候選議題
		</a>
	<% end %>
	<% link=media_all_path %>
	<a href = <%= link %> class="whiteText">
			所有媒體
	</a>
	<% link=userlist_all_path %>
	<a href = <%= link %> class="whiteText">
			所有使用者
	</a>
</div>
<div class = "col-md-offset-1 col-md-10" align = "center">
	<table class="table">
		<tr>
			<td><div><% CreateNearHotIssueTable() %></div></td>
			<td><div ><% CreateHotIssueTreeTable() %></div></td>
			<td><div ><% CreateHotPeopleTable() %></div></td>
		</tr>
		<tr>
			<td><div><% CreateMostInfluencePeopleTable() %></div></td>
			<td><div><% CreateMostInfluenceMediaTable() %></div></td>
			<td><div><% CreateMostBalenceMediaTable() %></div></td>
		</tr>
	</table>
</div>
