<script src="/js/queryToggle.js"></script>
<% def ListItems() %>
    <% index = 0 %>
	<% @items.each do |item|%>
        <div class="BoxSpace" tree_id="<%= item.id %>" title="<%="NPWEB-"+@issue_info[index].title%>" description="<%= "編者：" + @nicknames[index] %>">
            <!-- 被選到時，會有 Border -->
            <div class="BoxSelectBorder" <% if index != 0 %> style = "display:none" <% end %>>
            </div>
            
            <!-- 文字框框 -->
            <div class="BoxText">
                <div class="BoxTitle">
                    <%= @issue_info[index].title %>
                </div>
                <div id="shareBtn" class="btn btn-success BoxShare" >Share</div>
                <!-- 按贊 button -->
                <% if current_user != nil %>
                    <% if !@hasThumpAlready[index] %>
                        <a href="/TreeThumbUp?id=<%= item.id.to_s + @addLink %>" class="btn btn-primary BoxThumbUp">按讚👍</a>
                    <% else %>
                        <a href="/TreeThumbUp?id=<%= item.id.to_s + @addLink %>" class="btn btn-info disabled BoxThumbUp">已讚過</a>
                    <% end %>
                <% else %>
                    <a href="/TreeThumbUp?id=<%= item.id.to_s + @addLink %>" class="btn btn-info disabled BoxThumbUp">請登入</a>
                <% end %>
                
                <!-- 內容名稱 -->
                <div class="BoxContent">
                    <%= @issue_info[index].post %>
                </div>
                
                <!-- 人物 -->
                <div class="BoxPeople">
                    編者：<%= @nicknames[index] %>
                </div>
                
                <!-- 日期 -->
                <div class="BoxDateInfo">
                    上線時間：<%= @createTimeArray[index] %>
                    <br>
                    最後更新：<%= @updateTimeArray[index] %>
                </div>
                
                <!-- 贊數 -->
                <div class="BoxOtherInfo">
                    讚數： <%= @up[index] %> 
                </div>
            </div>
            <% index += 1 %>
        </div>
    <% end %>
<% end %>
<!-- 前面的宣告 -->
<link rel="stylesheet" type="text/css" href="/css/Tree/index.css">
<link rel="stylesheet" type="text/css" href="/css/query.css">
<script src="js/Tree/TreeIndex.js"></script>
<script src="/js/queryIssue.js"></script>
<script src="/js/queryIssue2.js"></script>
<% if !@tree.nil? %>
    <% content_for :title, "NPWEB-" + @issue.title %>
    <% x = "編者：" + @user.nickname %>
    <% content_for :description, x.to_s%>
<% end %>


<!-- 左邊Canvas -->
<div class="LeftCanvas">
    <% if current_user !=nil and current_user.level >=2 %>
        <div class="AddNodeButton">
            <button class="btn btn-warning" id="addRoot">新增議題樹</button>
        </div>
    <% end %>

    <!-- 依照什麼排序 -->
    <div class="dropdown TreeOrderByList">
        <% orderByName= "近期人氣" %>
        <% if @OrderBy == 0.to_s %>
            <% orderByName = "近期人氣"%>
        <% elsif @OrderBy == 1.to_s %>
            <% orderByName = "最新"%>
        <% elsif @OrderBy == 2.to_s %>
            <% orderByName = "歷史人氣"%>
        <% end %>
            
        
        <% # 如果有搜尋東西的話，需要再連結後面加上額外的參數 %>
        <% if @searchParams != "" %>
            <% addLink = "&search=" + @searchParams %>
        <% else %>
            <% addLink = "" %>
        <% end %>
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">依照 <%= orderByName %> 排序
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <% link = treeindex_path(OrderBy: 0) %>
            <li><a href= <%= link + addLink %> >近期人氣排序</a></li>
            <% link = treeindex_path(OrderBy: 1) %>
            <li><a href= <%= link + addLink %> >最新排序</a></li>
            <% link = treeindex_path(OrderBy: 2) %>
            <li><a href= <%= link + addLink %> >歷史人氣排序</a></li>
        </ul>
    </div>
    
    <!-- 搜尋的 DIV -->
    <div class="TreeIndexSearch">
        <input type="text" class="form-control" placeholder="搜尋議題樹" id="queryIssue2"  value="<%= @searchParams %>">
    </div>
    <span class="input-group-btn TreeIndexSearchButton">
        <button class="btn btn-default" type="button" id="TreeIndexSearch">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
    <div id="queryIssueDiv2" class="queryDiv TreeSearchDIV" style="width: 350px; display: none;"></div>
    
    <div class="TreeList">
        <% ListItems() %>
    </div>
</div>

<!-- 右邊的 -->
<% if @items != nil && @items.length > 0 %>
    <iframe class="RightCanvas" src="/TreeCanvas?id=<%= @items[0].id %>" frameBorder="0"></iframe>
<% else %>
    <iframe class="RightCanvas" src="/TreeCanvas" frameBorder="0"></iframe>
<% end %>

<!-- 如果視窗 Size 小於某個值，會顯示小於預設視窗 -->
<div class="WindowSizeWarning" style="display: none;">
    <div>
        <h3>注意！！</h3>
        由於視窗太小小於預設的範圍 (1600 x 900)，所以有些東西會因為排版，而導致可能會看不到。
        <button class="btn btn-primary">了解</button>
    </div>
</div>

<!-- 加 Root 的點 -->
<div class="AddRoot" style="display: none;">
    <div class="AddRootBox">
        <span class="glyphicon glyphicon-remove" id="RemoveAddRoot"></span>
        
        <div class="input-group">
            <div class="AddRootTitle">
                新增的 Root 名稱：
            </div>
            
            <input type="text" class="form-control" placeholder="請輸入議題" name="IssueName" id="queryIssue">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="addRootBtn">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </span>
        </div>
        <div id="queryIssueDiv" class="queryDiv" style="width: 350px; display: none;"></div>
    </div>
</div>

<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: document.URL,
  }, function(response){});
}
</script>