<!DOCTYPE html>
<% 

%>
<% def runTree(tree,layer) %>   
    <div>

        <% for i in 0..layer %>
            <blockquote>
        <% end %>
        <% link = issuelist_index_path(id: tree["name"].to_s) %>
        <a href = <%= link %> target="_blank">
            <%= tree["name"].to_s %>
        </a>
        <% for i in 0..layer %>
            </blockquote>
        <% end %>
    </div>
    <% tree["parent"].each do |sub_tree|%>
            <% runTree(sub_tree,layer + 1) %>
    <% end %>
<% end %>
<html>
    <head>
        <title>PNWEB</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <!-- For moblie --> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/Tree/TreeClass.js"></script>
        <script src="/js/Tree/EditingTree.js"></script>
        <script src="/js/Tree/json2.js"></script>
        <script src="/js/queryIssue.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/css/query.css">
        <link rel="stylesheet" type="text/css" href="/css/navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/Tree/TreeCanvas.css">
    </head>
    <body>
        <div style="background-color: rgb(242, 238, 228);"><input type = "button" id = "switch" value = "切換顯示模式" style="background-color: rgb(242, 238, 228);"></div>
        <div id="shareBtn" class="btn btn-success BoxShare" >Share</div>
        <div class="MenuBox" id = "new_type" >
                <svg   width="100%" height="100%"  xmlns="http://www.w3.org/2000/svg">
            </svg>
            
            
        </div>
        <div id = "old_type" style="display: none;overflow-y: scroll;height: 10000px;">
            <% treeInfos = @tree %>
            <% if treeInfos.nil?%>
            <% else %>
                <% treeInfo = treeInfos[0] %>
                <% runTree(parseTree(treejsonInfo(params[:id])),0) %>
            <% end %>
        </div>
        <% if current_user != nil %>
            <% if current_user.level >= 2 || (current_user.id == @id && current_user.level == 1) %>
                <ul id="ListAddNode" class="custom-menu">
                    <li index="0">新增下一層議題</li>
                    <li index="1">新增同一層議題</li>
                    <li index="2">順時鐘移</li>
                    <li index="3">逆時鐘移</li>
                    <li index="4">刪除</li>
                </ul>
                
                
                <button type="button" class="btn btn-primary ReminderSave" id="ReminderSaving" style="display:none;">
                    尚未儲存，請記得儲存！！
                </button>
            <% end %>
        <% end %>
        
        
        
        <!-- 全黑使用 -->
        <div class="blackAddItemDiv" style="background-color: rgba(0, 0, 0, 0); display: none;"></div>
        <div class="AddItemDiv" style="display: none;">
            <span class="glyphicon glyphicon-remove"></span>
            <div>
                新增樹狀的 Node：
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="請輸入議題" name="IssueName" id="queryIssue">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </span>
            </div>
            <div id="queryIssueDiv" class="queryDiv" style="width: 220px; display: none;"></div>
        </div>
    </body>
</html>
