<div class="jumbotron">
    <div class="container">
        <div class="rows">
            <div class="col-md-offset-4 col-md-4">
                <h2>更改使用者帳號</h2>

                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= f.error_notification %>

                    <div class="form-inputs">
                        <%= f.label "信箱" %> <br>
                        <%= f.input_field :email, style: "width: 300px", required: true, autofocus: true %><br>
                        
                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
                        <% end %>

                        <%= f.label "新的密碼" %> <br>
                        <%= f.input_field :password, style: "width: 300px", autocomplete: "off", hint: "不改就留空白", required: false %> <br>
                        
                        <%= f.label "確認新的密碼" %> <br>
                        <%= f.input_field :password_confirmation, style: "width: 300px", required: false %> <br>
                        
                        <%= f.label "舊密碼"%> <br>
                        <%= f.input_field :current_password, style: "width: 300px", hint: "we need your current password to confirm your changes", required: true %> <br>
                    </div>

                    <div class="form-actions">
                        <%= f.button :submit, "更新" %>
                    </div>
                <% end %>

                <%= link_to "Back", :back %>
            </div>
        </div>
    </div>
</div>
                
