<div class="container">
    <div class="jumbotron">
        <h2 style="text-align:center;">註冊頁面</h2>
        
        <div class="row">
            <div class="col-md-offset-4 col-md-4">
                <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= f.error_notification %>

                    <div class="form-inputs">
                        <%= f.label "信箱 (必填)" %>
                        <%= f.input_field :email, style: "width: 300px", required: true, autofocus: true %> <br>

                        <%= f.label "密碼 (必填)" %>
                        <%= f.input_field :password, style: "width: 300px", required: true, hint: ("最少需要 #{@minimum_password_length} 個字" if @minimum_password_length) %>

                        <%= f.label "確認密碼 (必填)" %>
                        <%= f.input_field :password_confirmation, style: "width: 300px", required: true %>

                        <%= f.label "暱稱 (必填)" %>
                        <%= f.input_field :nickname, style: "width: 300px", required: true %>
                    </div>

                    <div style="text-align:center; margin-top: 10px;">
                        <%= f.button :submit, "註冊", class: "btn btn-pˇrimary", style: "width: 150px;" %>
                    </div>
                <% end %>

                <%= render "devise/shared/links" %>
            </div>
        </div>
    </div>
</div>
