<div class="col-md-12">
  <div class="group">
    <%= link_to("新增資料", new_dataitem_path, class: "btn btn-primary") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>議題</td>
        <td>人物名稱</td>
        <td>支持或反對</td>
        <td>論述</td>
        <td>人氣</td>
        <td>連結</td>
        <td>選項</td>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to(item.title, dataitem_path(item)) %></td>
          <td><%= item.people %></td>
          <td><%= item.content %></td>
          <td>
            <% if item.is_support == true %>
              支持
            <% else %>
              反對
            <% end %>
          </td>
          <td><%= item.count %></td>
          <td><%= link_to "連結", item.link %></td>
          <td>
              <%= link_to("編輯", edit_dataitem_path(item), class: "btn btn-sm btn-default")%>
              <%= link_to("刪除", dataitem_path(item),    class: "btn btn-sm btn-default", 
                          method: :delete, data: { confirm: "確定刪除？" } )%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
