<% if !@all_people %>
<div class = "container"><font color="white">
<div class = "row">
  <div class = "col-md-4">
      <div align = "center">
        <%= @user.nickname %>
      </div>
      <div align = "center">
          <%= image_tag "http://www.bitc.org.uk/sites/default/files/styles/blog_featured/public/unknown_man.jpg?itok=AINphgRI", width: "200" %>
      </div>
  </div>
  <div class = "col-md-8">
    <table class = "table table-bordered">
      <thead>
        <tr>
          <td class = "col-md-8" colspan = "2">關於 <%= @user.nickname %>
          </td>
        </tr>
        <tr align = "center">
          <td>信箱</td>
          <td>創建時間</td>
        </tr>
      </thead>
      <tbody>
        <tr align = "center">
          <td><%= @user.email %></td>
          <td><%= @user.created_at %></td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>
<div class = "row">
  <div><br></div>
  <div class = "col-md-12">
    <table class = "table table-bordered">
      <thead>
        <tr align = "center">
          <td class = "col-md-12" colspan = "6">
            <%= @user.nickname %> 參與過的議題
          </td>
        </tr>
        <tr align = "center">
          <td class = "col-md-3"><font color="white">
            議題
          </td>
          <td class = "col-md-1"><font color="white">
            名嘴
          </td>
          <td class = "col-md-1"><font color="white">
            態度
          </td>
          <td class = "col-md-5"><font color="white">
            主要論述
          </td>
          <td class = "col-md-1"><font color="white">
            原始文章
          </td>
          <td class = "col-md-1"><font color="white">
            發表時間
          </td>
        </tr>
      </thead>
      <tbody>
          <% @details.each do |detail| %>
            <tr align = "center">
              <td class = "col-md-1">
                <% @issues.where(id: detail.issue_id).each do |issue| %>
                  <% link = "/issuelist/"+issue.id.to_s %>
                  <a href = <%= link %> >
                    <%= issue.title %>
                  </a>
                <% end %>
              </td>
              <td class = "col-md-1"><font color="white">
                <% @people.where(id: detail.people_id).each do |person| %>
                  <% link = "/peoplelist/"+person.name %>
                  <a href = <%= link %> >
                    <%= person.name %>
                  </a>
                <% end %>
              </td>
              <td class = "col-md-1"><font color="white">
                <% if detail.is_support == true %>
                  支持
                <% else %>
                  反對
                <% end %>
              </td>
              <td class = "col-md-3"><font color="white">
                <%= detail.content %>
              </td>
              <td class = "col-md-1"><font color="white">
                <% link = "/detaillist/"+detail.id.to_s %>
                <a href = <%= link %> >
                  原始文章
                </a>
              </td>
              <td class = "col-md-1"><font color="white">
                <%= detail.updated_at %>
              </td>
              
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
</font>
<% else %> 
<div align = "center"><font color = "white">你尋找的用戶不存在</font></div>

<% end %>