<%
	def getSelfLink(user_search,user_order)
		result = ""
		if user_search.nil? || user_search.empty?
			result = result + "?user_search=" + ""
		else
			result = result + "?user_search=" + user_search
		end
		if user_order.nil? || user_order.empty?
			result = result + "&user_order=" + ""
		else
			result = result + "&user_order=" + user_order
		end
		return userlist_index_path(id: @me.id) + result
	end
%>
<div class="BigTitle">
	<h2>使用者頁面</h2>
	<hr>
</div>
<% if @me == nil %>
	<div class = "whiteText">
		錯誤的連結位置
	</div>
<% else %>
	<div name = "whole">
		<div class = "col-md-3 row">

			<form action="<%= userlist_index_path(id: @me.id) %>">
				搜尋使用者
				<input type="text" name="user_search" value="<%= @user_search %>">
				<input type="hidden" name="user_order" value="<%=@user_order %>">
				<input type="submit" value="搜尋">
			</form>
			<div>
				<select name="user_order" onchange="location = this.value;">
					<% temp = "near_hot" %>
					<% str_show = "近期熱絡程度" %>
					<% link  = getSelfLink(@user_search,"near_hot") %>
					<option value="<%= link %>"  <%if @user_order == "near_hot"%>selected="selected"<%end%>>
						<%= str_show %>
					</option>
					<% temp = "hot" %>
					<% str_show = "歷史熱絡程度" %>
					<% link  = getSelfLink(@user_search,"hot") %>
					<option value="<%= link %>" <%if @user_order == "hot"%>selected="selected"<%end%>>
						<%= str_show %>	
					</option>
					<% temp = "score" %>
					<% str_show = "積分" %>
					<% link  = getSelfLink(@user_search,"score") %>
					<option value="<%= link %>" <%if @user_order == "score"%>selected="selected"<%end%>>
						<%= str_show %>	
					</option>
				</select>
			</div>

			<div style="border-style: solid;" >所有使用者</div>
			<div style="overflow: scroll;height: 300px;border-style: solid;">
				<% @users.each  do |item|%>
					<% link  = userlist_index_path(id: item.id)%>
					<a href=<%= link %>>
						<%= item.nickname %>
					</a>
					<br>
				<% end %>
			</div>
		</div>
		<div class = "whiteText col-md-offset-1 col-md-8 row">
			<div>
				<table class = "table table-bordered">
					<thead>
						<tr align = "center" >
							<td>暱稱</td>
							<td>註冊日期</td>
							<td>總積分</td>
							<td>議題被採納數</td>
							<td>ＰＯ意見數</td>
							<td>對意見按讚數</td>
							<td>權限</td>
						</tr>
					</thead>
					<tbody>
						<tr> 
							<td><%= @me.nickname %></td> 
							<td><%=@me.created_at.to_date %></td> 
							<td><%= @score %></td>
							<td><%= @postedIssueNumber %></td>
							<td>
								<div>
									所ＰＯ意見被按讚總數: <%= @likedNumber %>
								</div>
								<div>
									所ＰＯ意見被排入前10總數: <%= @detailIn10Top%>
								</div>
								<div>
									所ＰＯ意見被檢舉總數: <%= @reportedNumber %>
								</div>
							</td>
							<td><%= @likeList.length %></td>
							
							<td>
								<div>
									<%if @me.level == 0%>
										一般使用者
									<% elsif @me.level == 1%>
										高階使用者
									<%elsif @me.level == 2%>
										網管
									<% elsif @me.level == 3 %>
										最高管理者
									<%else%>
										錯誤
									<%end%>
								</div>
								<% if @me.level == 0 %>
									<% if @me.other.nil? || @me.other.empty? || @me.other == "0"%>
									<% else %>
										<% if @me.other == "1" %>
											<div>此帳號部分停權中</div>
										<% elsif @me.other == "2" %>
											<div>此帳號凍結中</div>
										<% end %>
									<% end %>
								<% end %>
								<% if can_level_up_user %>
									<div>
										<% if can_level_up_user() %>
											<% if current_user.level >= @me.level && @me.level < 3%>
												<% link = userlist_upgrade_path + "?id=" + @me.id.to_s%>
												<%= link_to "升級",link,method: :post%>
											<% else %>
											<%end%>
										<% end %>
									</div>
									<div>
										<% if can_level_up_user() %>
											<% if current_user.level > @me.level && @me.level > 0%>
												<% link = userlist_downgrade_path + "?id=" + @me.id.to_s%>
												<%= link_to "降級",link,method: :post%>
											<% else %>
											<%end%>
										<% end %>
									</div>
									<div>
										<% if can_level_up_user() %>
											<% if @me.level == 0 %>
												<% if @me.other.nil? || @me.other.empty? || @me.other == "0"%>
													<div>
														<% link = userlist_disable_path + "?user_id=" + @me.id.to_s + "&able=1"%>
														<%= link_to "部分停權",link,method: :post%>
													</div>
													<div>
														<% link = userlist_disable_path + "?user_id=" + @me.id.to_s + "&able=2"%>
														<%= link_to "帳號凍結",link,method: :post%>
													</div>
												<% else %>
													<% link = userlist_disable_path + "?user_id=" + @me.id.to_s + "&able=0"%>
													<%= link_to "復權",link,method: :post%>
												<% end %>
											<% end %>
										<% end %>
									</div>
									<div>
										<% if !current_user.nil? %>
											<% if current_user.level > @me.level && @me.level == 1 %>
												<% link = userlist_power_edit_path(id: @me.id)%>
												<!--<%= link_to "編輯管理權限",link,method: :get%>-->
											<% else %>
											<%end%>
										<% end %>
									</div>
								<% end %>
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
			<div class = "whiteText row">
				<div align = "center"><%= @me.nickname %> 上線的意見 </div>
				<div>
					<table class = "table table-bordered">
						<thead>
							<tr align = "center" >
								<td>議題</td>
								<td>名人</td>
								<td style="width: 300px" >意見</td>
							</tr>
						</thead>
						<tbody>
							<% @details.each do |detail| %>
								<% issue = @issues.where(id: detail.issue_id)[0] %>
								<% person = @people.where(id: detail.people_id)[0] %>
								<% if issue.nil? %>
								<% else %>
									<tr>
										<td>
											<% link = issuelist_index_path(id: issue.id) %>
											<a href = <%= link %>>
												<%= issue.title %>
											</a>
										</td>
										<td>
											 <% link = peoplelist_index_path(id: person.name) %>
											<a href=<%= link %> >
												<%= person.name %>
											</a>
										</td>
										<td style="width: 300px">
											<% link = detaillist_index_path(id: detail.id) %>
											<a href = <%= link %>>
												<%= detail.content %>
											</a>
										</td>
									</tr>
								<% end %>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>

	<!-- tables with all the detail -->
	
	<!-- the description with @me -->
	
<% end %>