<div class = "container">
	<%= render :template => "/dataitems/top.html.erb" %>
	<div class = "col-md-12">
		<table class = "table table-hover">
			<thead>
				<tr>
					<td class = "col-md-1">ID</td>
					<td class = "col-md-2">贊成或反對</td>
					<td class = "col-md-5">內容</td>
					<td class = "col-md-2">原文網址</td>
					<td class = "col-md-2">操作按鈕</td>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
				<tr>
					<td><%= item.id %></td>
					<td>
						<% if item.is_support %>
							<font color = "blue">贊成</font>
						<% else %>
							<font color = "red">反對</font>
						<% end %>
					</td>
					<td><%= item.text %></td>
					<td><%= link_to "原文連結",item.link %></td>
					<td>
						<%= link_to "修改", edit_dataitems_data_content_path(item), class: "btn btn-sm btn-default"%>
						<%= link_to "刪除", dataitems_data_content_path(item), class: "btn btn-sm btn-default", 
		                       method: :delete, data: { confirm: "確定刪除嗎?" } %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>