<div class = "container">
	<%= render :template => "/dataitems/top.html.erb" %>
	<div class = "col-md-12">
		<table class = "table table-hover">
			<thead>
				<tr>
					<td class = "col-md-1">ID</td>
					<td class = "col-md-2">議題id</td>
					<td class = "col-md-3">人id</td>
					<td class = "col-md-2">內容id</td>
					<td class = "col-md-2">圖片link</td>
					<td class = "col-md-2">操作按鈕</td>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
				<tr>
					<td><%= item.id %></td>
					<td><%= item.issue_id %></td>
					<td><%= item.person_id %></td>
					<td><%= item.content_id %></td>
					<td>
						<% if item.pic_link == "" %>
							（無）
						<% else %>
							<%= image_tag item.pic_link, width: "200" %>
						<% end %>
					</td>
					<td>
						<%= link_to "修改", edit_dataitems_data_pointer_path(item), class: "btn btn-sm btn-default"%>
						<%= link_to "刪除", dataitems_data_pointer_path(item), class: "btn btn-sm btn-default", 
		                       method: :delete, data: { confirm: "確定刪除嗎?" } %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>