<script src="/js/queryPeople.js"></script>
<script src="/js/queryMedia.js"></script>
<script src="/js/detaillistChange.js"></script>
<script src="/js/queryDisableEnterSubmit.js"></script>
<link rel="stylesheet" type="text/css" href="/css/table.css">
<link rel="stylesheet" type="text/css" href="/css/query.css">
<link rel="stylesheet" type="text/css" href="/css/user/form.css">
<link rel="stylesheet" type="text/css" href="/css/preview.css">
<div class="BigTitle">

	<h2>新增意見</h2>
	<hr>
</div>
<% if current_user.nil? %>
	錯誤：請確認你是否有登入
<% else %>
	<div class >
		<div class = "container">
			<div class = "jumbotron">
				<div class = "row">
					<form action= "<%= detaillist_new_path %> " method= "post" enctype="multipart/form-data">
						<div class = "form-group" style="position: relative;">
							
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="issue_id" value="<%= @issue.id %>">
							<label>議題主文</label>
							<div><%= @issue.title %></div>
							<br>
							
							<label>
								意見*
								<h6 style="color: rgb(128,128,128);display: inline-block;">
									附註：最多100字，太長的意見可分成多條意見
								</h6>
							</label>
							<textarea rows = 5 type="text" class="form-control" name="content" required="true" maxlength="100" id="content" <% if !(@content.nil? || @content.empty?) %> value = "<%=@content%>"<%end%>></textarea>
							<br>

							<label>
								誰的意見
								<h6 style="color: rgb(128,128,128);display: inline-block;">
									附註：若非個人，請填團體名或代表人(如: 乖乖黨、乖乖黨發言人、乖乖報、乖乖報社論....等)
								</h6>
							</label>
							<input list="1browsers" class="form-control peopleList" name="people_id" id="queryPeople" <%if !@person.nil? %> value="<%=@person.name %>"<%end%>>
							
							<datalist id="1browsers">
							</datalist>
							
							<br>
							<label>當時頭銜</label>
							<input type="text" class="form-control" name="title_at_that_time" id="title_at_that_time" <% if !(@title_at_that_time.nil? || @title_at_that_time.empty?) %> value = "<%=@title_at_that_time%>"<%end%>>
							<br>
							
							<label>贊成或反對</label>
							<div>
								<text>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</text>

  								<input type="radio" name="is_support" value = "true" <%if @is_support == "true" %> checked = "true" <%end%> id="supportClick">贊成

  								<text>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</text>

  								<input type="radio" name="is_support" value = "false"<%if @is_support == "false"%> checked = "true"<%end%>>反對
							</div>
							<br>
							
							
							<label>屬於間接意見?</label>
							<div>
								<text>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</text>

								<input type="radio" name="is_direct" value = "true"<%if @is_direct == "true"%> checked = "true"<%end%> id = "directClick">直接意見

								<text>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</text>

								<input type="radio" name="is_direct" value = "false" <%if @is_direct == "false"%> checked = "true"<%end%> id = "not_directClick"/>間接意見

								<h6 style="color: rgb(128,128,128);display: inline-block;">
									附註：
									時空不對者(如引用古人的話或討論台灣的私刑時引用歐巴馬對美國死刑的看法)屬於間接意見，間接意見不納入名人語錄。
								</h6>

							</div>
							<br>
							
							<label>刊載媒體</label>  

							<input list="2browsers" class="form-control mediaList" name="news_media" id="queryMedia" <%if !(@news_media.nil? || @news_media.empty?)%> value="<%=@news_media%>"<%end%>>
							<datalist id="2browsers">
							</datalist>
							<br>
							<label>
								發言時間
								<h6 style="color: rgb(128,128,128);display: inline-block;" id="data_description">
									附註：(請儘量填西元年/月/日，不得已才只填年/月或年，古人可寫"宋朝"...等)
								</h6>
							</label>
							<input <%if @is_direct=="true"%> type="date"<%else%> type="text"<%end%> class="form-control" name="report_at" required="true" id="reportTime" <%if !(@report_at.nil? || @report_at.empty?)%> value = "<%=@report_at%>"<%else%> value = "0001-01-01"<%end%>>
							<br>
							<lable>原文備份類型</lable>
							<div>
								<select id="upload_type">
									<option value="option1" selected="selected">網頁連結</option>
									<option value="option2">上傳圖檔</option>
									<option value="option3">錄音檔</option>
									<option value="option4">影片連結(youtube,土豆網等...)</option>
								</select>
							<input type="hidden" id="backup_type" name="backup_type" value="0">
							</div>
							<br>
							<div id="source_video" style="display: none;">
								<label>影片連結</label>
								<input type="text" class="form-control" name="video_source" id="video_source">
								<br>
							</div>
							<label>原文連結</label>
							<input type="text" class="form-control" name="link" id="web_source" required="true" <%if !(@link.nil? || @link.empty?)%> value="<%=@link%>"<%end%>>
							<br>
							<div id="source_web">
								
							</div>
							<div id="source_file" style="display: none;">
								<label>
									上傳圖檔,錄音檔
									<h6 style="color: rgb(128,128,128);display: inline-block;">
										附註：不超過 200 MB 為原則
									</h6>
								</label>
								<input type="file" name="fileToUpload" id="file_source" accept="audio/*,image/*">
								<!--<form action="upload.php" method="post" enctype="multipart/form-data">
									
								</form>-->
								<br>	
							</div>
							

							<button type="button" class="btn btn-primary" style="width: 150px;" id="previewButton">檢視預覽</button>
						</div>
						<div class="previewDiv" style="display:none;">
							<div>
								<span class="glyphicon glyphicon-remove"></span>
								<table class="table table-bordered ">
									<tr style="background-color: rgb(14 , 97, 174)" >
										<td style="color: white" >主文</td>
										<td style="color: white">名人<br>（當時頭銜）</td>
										<td style="width: 300px;color: white">內容</td>
										<td style="color: white">贊成還是反對</td>
										<td style="color: white">是否為直接意見</td>
										<td style="color: white">刊載媒體<br>報導時間</td>
										<td style="color: white">上線時間</td>
									</tr>
									<tr>
										<td><%= @issue.title %></td>
										<td id="queryPeople_blank"></td>
										<td id="content_blank"></td>
										<td id="support_blank"></td>
										<td id="directClick_blank"></td>
										<td id="news_media_blank"></td>
										<td id="title_at_that_time_blank"></td>
									</tr>
								</table>
								<input type="submit" class = "btn btn-primary submit" style = "width: 150px;">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<% end %>
