<script src="/js/queryPeople.js"></script>
<script src="/js/detaillistChange.js"></script>
<link rel="stylesheet" type="text/css" href="/css/query.css">
<link rel="stylesheet" type="text/css" href="/css/user/form.css">
<div class="BigTitle">
    <h2>編輯意見</h2>
    <hr>
</div>
<% if current_user.nil?%>
	錯誤：請確認你是否有登入
<% else %>
	<div class >
		<div class = "container">
			<div class = "jumbotron">
				<div class = "row">
					<form action= "<%= detaillist_update_path %> " method= "post">
						<div class = "form-group">
							
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="id" value = "<%= @detail.id %>">
							<label>議題主文</label>
							<div><%= @issue.title %></div>
							<br>
							<label>論述*</label>
							<input type="text" class="form-control" name="content" required="true" maxlength="100" value = "<%= @detail.content %>">
							<br>
							<label>誰的意見</label>
							<% if @person.nil? %>
								<% person_name = "" %>
							<% else %>
								<% person_name = @person.name %>
							<% end %>
							<input type="text" class="form-control" name="people_id" value = "<%= person_name %>" id="queryPeople">
                            <div id="queryPeopleDiv" class="queryDiv" style="display: none;">
                            </div>
							<br>
							<br>
							<label>當時頭銜</label>
							<input type="text" class="form-control" name="title_at_that_time" value = "<%= @detail.title_at_that_time %>">
							<br>
							<% check = "" %>
							<% if @detail.is_support %>
								<% check = "checked"%>
							<% end %>
							<label>Is supported</label>
							<input type="checkbox" class="form-control" name="is_support" <%= check %> >
							<br>
							<% check = "" %>
							<% if @detail.is_direct %>
								<% check = "checked"%>
							<% end %>
							<label>是否為直接意見</label>
							<input type="checkbox" class="form-control" name="is_direct" <%= check %>  id="directClick">
							<br>
							<label>刊載媒體</label>
							<input type="text" class="form-control" name="news_media" value = "<%= @detail.news_media %>">
							<br>
							<label>報導時間</label>
							<input type="text" class="form-control" name="report_at" value = "<%= @detail.report_at %>" id="reportTime">
							<br>
							<label>報導連結</label>
							<input type="text" class="form-control" name="link" value = "<%= @detail.link %>">
							<br>
							<div>
								<input type = "submit" class = "btn btn-primary" style = "width: 150px;">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<% end %>
