<% if !@all_detail %>
<div class = "container"><font color="white">
<div class = "row">
  <div class = "col-md-12">
    <table class = "table table-bordered">
      <thead>
        <tr align = "right">
          <td class = "col-md-12" colspan = "8">
              <%= link_to "我要 👍", thumb_detaillist_path(detail_id: params[:detail_id], :thumb => "1"), method: :post, class: "btn-default", style: "width:200px;"%>
            </font>
            <p class = "col-md-2"></p>
              <%= link_to "我要 👎", thumb_detaillist_path(detail_id: params[:detail_id], :thumb => "0"), method: :post, class: "btn-default", style: "width:200px;" %>
            </font>
          </td>
        </tr>
        <tr align = "center">
          <td class = "col-md-1"><font color="white">
            名人
          </td>
          <td class = "col-md-1"><font color="white">
            議題
          </td>
          <td class = "col-md-1"><font color="white">
            態度
          </td>
          <td class = "col-md-5"><font color="white">
            主要論述
          </td>
          <td class = "col-md-1"><font color="white">
            發表時間
          </td>
          <td class = "col-md-1"><font color="white">
            編者
          </td>
          <td class = "col-md-1"><font color="white">
            原始資料
          </td>
          <td class = "col-md-1">
            👍 與👎
          </td>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <% link = "/peoplelist/"+ @person.name%>
              <a href = <%= link %> >
                <%= @person.name %>
              </a>
            </td>
            <td>
              <% link = "/issuelist/"+ @issue.id.to_s %>
              <a href = <%= link %> >
                <%= @issue.title %>
              </a>
            </td>
            <td>
              <% if @me.is_support == true %>
                支持
              <% else %>
                反對
              <% end %>
            </td>
            <td>
              <%= @me.content %>
            </td>
            <td>
              <%= @me.created_at %>
            </td>
            <td>
              <% link = "/userlist/"+ @user.id.to_s%>
              <a href = <%= link %> >
                <%= @user.nickname %>
              </a>
            </td>
            <td>
              <% link = "/pagebackup/"+@me.link+".png" %>
                <a href = <%= link %> >
                  參考資料
                </a>
            </td>
            <td>
              👍 
              <%= @me.count_like.to_s %>
              👎 
              <%= @me.count_dislike.to_s %>
            </td>
          </tr>
      </tbody>
    </table>
    <div align = "center" class = "col-md-12"><%= link_to("我有話說", new_detallist_path(@tags), class: "btn btn-default btn-xs", style: " width : 500px") %></div>
    <table class = "table table-bordered">
      <thead>
        <tr align = "center">
          <td class = "col-md-12" colspan = "3">
            相關討論
          </td>
        </tr>
        <tr align = "center">
          <td class = "col-md-3">使用者</td>
          <td class = "col-md-6">內文</td>
          <td class = "col-md-3">時間</td>
        </tr>
      </thead>
      <tbody>
        <% if !@comments.nil? %>
        <% @comments.each do |comment| %>
          <tr>
            <td>
              <% @talkers.where(id: comment.post_id).each do |talker| %>
                <%= talker.nickname %>
              <% end %>
            </td>
            <td>
              <%= comment.content %>
            </td>
            <td>
              <%= comment.created_at %>
            </td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>

<% else %> 

<div class = "container"><font color="white">
  施工中
</div>

<% end %>