<% 
	def HasUser()
		if current_user.nil? || current_user.id.nil?
			return false
		else
			return true
		end
	end

	def HasLike(detail_id)
		likelist =  @likeList.where(post_id: current_user.id)[0]
		if likelist.nil? || likelist.id.nil?
			return false
		else
			return true
		end
	end
%>
<div class="BigTitle">
	<h2>論述頁面</h2>
	<hr>
</div>
<% if @me.nil? %>
	<div class = "whiteText">
		error,invalid parameter index
	</div>
<% else %>
	<!-- show detail data-->
	<div class = "whiteText row">
		<div class = "col-md-offset-1 col-md-10 row">
			<div align = "right">
				<% link = detaillist_edit_path(id: @tags) %>
				<a href = "<%= link %>">編輯</a>
				<% link = reportlist_add_path(id: @tags) %>
				<a href = "<%= link %>">檢舉</a>
			</div>
			<table class = "table table-bordered">
				<thead>
					<tr align = "center" >
						<td>議題</td>
						<td>名嘴（當時頭銜）</td>
						<td>正反方</td>
						<td>內容</td>
						<td>是否為直接意見</td>
						<td>讚</td>
						<td>媒體</td>
						<td>報導時間</td>
						<td>連結</td>
						<td>上線時間</td>
						<td>編者</td>
					</tr>
				</thead>
				<tbody>
					<% detail = @me %>
					<% issue  = @issue %>
					<% person = @person %>
					<tr>
						<td>
							<% link = issuelist_index_path(id: @issue.id) %>
							<a href = <%= link %>>
								<%= @issue.title %>
							</a>
						</td>
						<td><% if person.nil? %>無名氏<% else %><% link = peoplelist_index_path(id: person.name) %><a href = <%= link %>> <%= person.name %> </a><% end %> ( <%= detail.title_at_that_time %> )</td>
						<td>
							<% if @me.is_support %>
								正
							<% else %>
								反
							<% end %>
						</td>
						<td><% if detail.is_direct %>直<% else %>間<% end %></td>
						<td>
							<% link = detaillist_index_path(id: detail.id) %>
							<a href = <%= link %>><%= detail.content %></a>
						</td>
						<td>
							<%= @likeList.length %>
							<% if HasUser() %>
								<% if HasLike(detail.id) %>
									<% path = detaillist_index_path(id: @me.id) %>
									<% link = detaillist_dislike_path + "?id=" + detail.id.to_s + "&path=" + path%>
									<%= link_to "收回讚",link,method: :post%>
								<% else %>
									<% if @NoMoreLike%>
										你已達到此議題的按讚上限
									<% else %>
										<% path = detaillist_index_path(id: @me.id) %>
										<% link = detaillist_like_path + "?id=" + detail.id.to_s + "&path=" + path%>
										<%= link_to "按讚",link,method: :post%>
									<% end %>
								<% end %>
							<% else %>
								NOT Login
							<% end %>
						</td>
						<td><%= @me.news_media %></td>
						<td><%= @me.report_at %></td>
						<td>
								<div><% link = detail.link %><a href = <%= "//" + link %>>連結</a></div>
								<div>
									<% link = "pageBackUp/"+detail.backup_id.to_s+".png" %>
									<% if File.exist?(Rails.root + "public/" + link) %>
										<a href = <%= "/"+link %> >
											備份圖片
										</a>
									<% else %>
										<br>圖片尚未備份
									<% end %>
								</div>
							</td>
						<td><%= @me.created_at %></td>
						<td>
							<% link = userlist_index_path(id: @user.id) %>
							<a href = <%= link %>>
								<%= @user.nickname %>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
			<table class = "table table-bordered">
				<thead>
					<tr><td colspan = "2" align = "center"> 留言 </td></tr>
					<tr align = "center" >
						<td>編者</td>
						<td>留言</td>
					</tr>
				</thead>
				<tbody>
					<% @comments.each do |item| %>
						<% user = @users.where(id: item.post_id)[0] %>
						<tr>
							<td>
								<% link = userlist_index_path(id: user.id) %>
								<a href = <%= link %>>
									<%= user.nickname %>
								</a>
							</td>
							<td>
								<%= item.content %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div >
				<% if HasUser() %>
				<div align = "center" >我有話說</div>
					<form action= "<%= detaillist_comment_new_path %> " method= "post">
						<div class = "form-group">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="detail_id" value="<%= @me.id %>">
							<label>Comment</label>
							<textarea class="form-control" name="content" cols = "50" rows="5"></textarea>
							<div>
								<input type = "submit" class = "btn btn-primary" style = "width: 150px;">
							</div>
						</div>
					</form>
				<% else %>
					登入後方可留言
				<% end %>
			</div>
		</div>
	</div>
<% end %>