<%
  def detail_vote_state(detail_id)
      result = 0
      @likeDislikeList.each do |item|
          if item.detail_id == detail_id
              if item.is_like
                  result = 1
              else
                  result = 2
              end
              break
          end
      end
      return result
  end
  def is_too_much_vote()
      result = false
      detail_ids = @issue.datadetail_id.split(',')
      detail_ids = detail_ids.map(&:to_i)
      limit = 3
      count = 0
      @likeDislikeList.each do |item|
          if detail_ids.include? item.detail_id
              count = count + 1
          end
      end
      if count >= limit
          result = true
      else
          result = false
      end
      return result
  end
  def calculator_thumbUp(text)
      length_text = 0
      if text != nil && text.split('|')[0] != nil
          length_text = text.split('|')[0].split(',').length
      else
          length_text = 0
      end
      return length_text
  end
  def calculator_thumbDown(text)
      length_text = 0
      if text != nil && text.split('|')[1] != nil
          length_text = text.split('|')[1].split(',').length
      end
      return length_text
  end
%>
<% if !@all_detail %>
<div class = "container"><font color="white">
<div class = "row">
  <div class = "col-md-12">
    <table class = "table table-bordered">
      <thead>
        <tr align = "right">
          <td class = "col-md-12" colspan = "12">
            <% state =  detail_vote_state(@me.id)%>
              <% if state != 0 %>
                  <% vote = "👍" %>
                  <% if state == 1 %>
                      <% vote = "👍" %>
                  <% else %>
                      <% vote = "👎" %>
                  <% end %>
                  <%= "你已經投"+ vote +"了" %>
                  <br>
                  <%= %>
                  <%= link_to "收回" + vote, thumb_cancel_detaillist_path(
                  from_issue: false ,
                  detail_id: @me.id,
                  current_user: current_user.id), method: :post, class: "btn-default", style: "width:200px;"%>
              <% elsif is_too_much_vote() %>
              你已經對此議題投的票已達上限
              <% else %>
                  <%= link_to "我要 👍", thumb_detaillist_path(detail_id: @me.id,
               :thumb => "1" ,
               from_issue: false ,
               current_user: current_user.id), method: :post, class: "btn-default", style: "width:200px;"%>
              <br>
                <%= link_to "我要 👎", thumb_detaillist_path(detail_id: @me.id,
                 :thumb => "0" ,
                 from_issue: false,
                  current_user: current_user.id), method: :post, class: "btn-default", style: "width:200px;" %>
              <% end %>
          </td>
        </tr>
        <tr align = "center">
          <td class = "col-md-1"><font color="white">
            名人
          </td>
          <td class = "col-md-1"><font color="white">
            名人當時頭銜
          </td>
          <td class = "col-md-1"><font color="white">
            議題
          </td>
          <td class = "col-md-1"><font color="white">
            態度
          </td>
          <td class = "col-md-1"><font color="white">
            是否為直接意見
          </td>
          <td class = "col-md-1"><font color="white">
            主要論述
          </td>
          <td class = "col-md-1"><font color="white">
            報導媒體
          </td>
          <td class = "col-md-1"><font color="white">
            報導時間
          </td>
          <td class = "col-md-1"><font color="white">
            上線時間
          </td>
          <td class = "col-md-1"><font color="white">
            編者
          </td>
          <td class = "col-md-1"><font color="white">
            參考資料
          </td>
          <td class = "col-md-1">
            👍 與👎
          </td>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
                <% if @person != nil %>
                    <% link = "/peoplelist/"+ @person.name%>
                    <a href = <%= link %> >
                        <%= @person.name %>
                    </a>
                <% end %>
            </td>
            <td>
              <%= @me.title_at_that_time %>
            </td>
            <td>
              <% link = "/issuelist/"+ @issue.id.to_s %>
              <a href = <%= link %> >
                <%= @issue.title %>
              </a>
            </td>
            <td>
              <% if @me.is_support == true %>
                支持
              <% else %>
                反對
              <% end %>
            </td>
            <td>
              <% if @me.is_direct == true %>
                是
              <% else %>
                否
              <% end %>
            </td>
            <td>
              <%= @me.content %>
            </td>
            <td>
              <%= @me.news_media %>
            </td>
            <td>
              <%= @me.reported_at %>
            </td>
            <td>
              <%= @me.created_at %>
            </td>
            <td>
              <% link = "/userlist/"+ @user.id.to_s%>
              <a href = <%= link %> >
                <%= @user.nickname %>
              </a>
            </td>
            <td>
              <% link = @me.link %>
                <a href = <%= link %> >
                  原始網頁
                </a>
                <br>
                <% #測試圖片存不存在 %>
                <% link = "pageBackUp/"+@me.backup_id.to_s+".png" %>
                <% puts Dir.entries(Rails.root + "public/pageBackUp/") %>
                <% if File.exist?(Rails.root + "public/" + link) %>
                    <a href = <%= "/"+link %> >
                      備份圖片
                    </a>
                <% else %>
                    <br>圖片備份中!!<br>請稍後重新整理!!
                <% end %>
            </td>
            <td>
              👍
              <%= calculator_thumbUp(@me.like_dislike_list_id) %>
              👎 
              <%= calculator_thumbDown(@me.like_dislike_list_id) %>
            </td>
          </tr>
      </tbody>
    </table>
    <div align = "center" class = "col-md-12"><%= link_to("我有話說", new_detallist_path(@tags), class: "btn btn-default btn-xs", style: " width : 500px") %></div>
    <table class = "table table-bordered">
      <thead>
        <tr align = "center">
          <td class = "col-md-12" colspan = "3">
            相關討論
          </td>
        </tr>
        <tr align = "center">
          <td class = "col-md-3">使用者</td>
          <td class = "col-md-6">內文</td>
          <td class = "col-md-3">時間</td>
        </tr>
      </thead>
      <tbody>
        <% if !@comments.nil? %>
        <% @comments.each do |comment| %>
          <tr>
            <td>
              <% @talkers.where(id: comment.post_id).each do |talker| %>
                <%= talker.nickname %>
              <% end %>
            </td>
            <td>
              <%= comment.content %>
            </td>
            <td>
              <%= comment.created_at %>
            </td>
          </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>

<% else %> 

<div class = "container"><font color="white">
  施工中
</div>

<% end %>