<% 
	def HasUser()
		if current_user.nil? || current_user.id.nil?
			return false
		else
			return true
		end
	end

	def HasLike(detail_id)
		likelist =  @likeList.where(post_id: current_user.id)[0]
		if likelist.nil? || likelist.id.nil?
			return false
		else
			return true
		end
	end
%>
<script src="/js/queryToggle.js"></script>
<div class="BigTitle">
	<h2>意見頁面</h2>
	<hr>
</div>
<% if @me.nil? %>
	<div class = "whiteText">
		錯誤的連結位置
	</div>
<% else %>

	<!-- show detail data-->

		<div class = "col-md-offset-1 col-md-10 row">
			<div align = "right">
				
				檢舉數：<%= @all_reports.length%>
				<% if !can_report_detail()%>
					登入後才可檢舉
				<% elsif @report.nil?%>
					<button type="button" class="btn btn-link ReportModal_Button" data-toggle="modal" data-target="#ReportModal" issue_name="<%= @issue.title %>" post_name="<%= @user.nickname %>" content="<%= @me.content %>" issue_id="<%= params[:issue_id] %>"  detail_id="<%= @me.id %>">我要檢舉</button>
				<% else %>
					你已檢舉過了
				<% end %>
				<% if @canDelete %>
					<% link = detaillist_delete_path(id: @me.id) %>
					<%= link_to "刪除意見",link,method: :post%>
				<% else %>
				<% end %>
				<% link = detaillist_edit_path(id: @tags) %>
				<% if can_editor_detail(@me.id)%>
					<a href = "<%= link %>">編輯</a>
				<% end %>
				<% link = detaillist_add_path(id: @me.issue_id ,content: @me.content,people_id: @me.people_id,title_at_that_time: @me.title_at_that_time,is_support: @me.is_support,is_direct: @me.is_direct,news_media: @me.news_media,report_at: @me.report_at,link: @me.link,backup_type: @me.backup_type) %>
				<% if can_add_detail() %>
					<a href = "<%= link %>">快速新增類似意見</a>
				<% end %>
			</div>
			
			<table class = "table table-bordered">
				<thead>
					<tr align = "center" >
						<td>議題</td>
						<td>贊成或反對</td>
						<td style="max-width: 400px;min-width: 400px;">意見</td>
						<td><div>誰的意見</div><div>當時頭銜</div></td>
						<td>屬於間接意見？</td>
						<td><div>發言時間</div><div>刊載媒體</div></td>
						<td><div>原文連結</div><div>原文備份</div></td>
						<td>人氣</td>
						<td><div>上線時間</div><div>編者</div></td>
					</tr>

				</thead>

				<tbody>

					<% detail = @me %>
					<% issue  = @issue %>
					<% person = @person %>
					<% media = @media %>
					<tr>
						<td>
							<% link = issuelist_index_path(id: @issue.id) %>
							<a href = <%= link %>>
								<%= @issue.title %>
							</a>
						</td>
						<td>
							<% if @me.is_support %>
								贊成
							<% else %>
								反對
							<% end %>
						</td>
						<td style="word-break: break-all;width: 400px !important;">
							<% link = detaillist_index_path(id: detail.id) %>
							<a href = <%= link %>><%= detail.content %></a>
						</td>
						<td><div><% if person.nil? %>無名氏<% else %><% link = peoplelist_index_path(id: person.name) %><a href = <%= link %> style="color: blue"> <%= person.name %> </a><% end %></div><div><%= detail.title_at_that_time %></div></td>
						<td><% if detail.is_direct %><% else %>間<% end %></td>
						<td>
							<div><%= @me.report_at %></div>
							<% if !media.nil?%>
								<% link = media_index_path(id: media.name) %>
							<% end %>
							<div>
								<a href=<%= link %>>
									<%= @me.news_media %>	
								</a>
							</div>
						</td>
						<td>
							<div>
								<% link = detail.link %>
								<% if link.first(4).include?("http") %>
								<% else %>
									<% link = "http://" + link %>
								<% end %>
								<a href = "<%= link %>"" target="_blank">原文連結</a>
							</div>
							<div>
								<% link = "pageBackUp/"+detail.backup_id.to_s+"."+detail.backup_type %>
								<% if detail.backup_type == "video_source" %>
									<% link = detail.backup_id %>
									<% if link.first(4).include?("http") %>
									<% else %>
										<% link = "http://" + link %>
									<% end %>
									<a href = "<%= link %>"" target="_blank">影片連結</a>
								<% elsif FileIsExit(link) %>
									<a href = <%= "/"+link %> target="_blank">
										備份檔案
									</a>
								<% else %>
									<br>
								<% end %>
							</div>
						</td>
						<td>
							<%= @likeList.length %>
							<% if HasUser() %>
								<% if HasLike(detail.id) %>
									<% path = detaillist_index_path(id: @me.id) %>
									<% link = detaillist_dislike_path + "?id=" + detail.id.to_s + "&path=" + path%>
									<%= link_to "收回讚",link,method: :post%>
								<% else %>
									<% if !@CanThumbUp%>
										以達<% if @me.is_support%>贊成<% else %>反對<%end%>按讚上限
									<% else %>
										<% path = detaillist_index_path(id: @me.id) %>
										<% link = detaillist_like_path + "?id=" + detail.id.to_s + "&path=" + path%>
										<%= link_to "按讚",link,method: :post%>
									<% end %>
								<% end %>
							<% else %>
								<br>
								登入後才能按讚
							<% end %>
						</td>
						<td>
							<div><%= @me.created_at %></div>
							<div>
								<% link = userlist_index_path(id: @user.id) %>
								<a href = <%= link %>>
									<%= @user.nickname %>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<table class = "table table-bordered">
				<thead>
					<tr><td colspan = "2" align = "center"> 留言 </td></tr>
					<tr align = "center" >
						<td>編者</td>
						<td>留言</td>
					</tr>
				</thead>
				<tbody>
					<% @comments.each do |item| %>
						<% user = @users.where(id: item.post_id)[0] %>
						<tr>
							<td>
								<% link = userlist_index_path(id: user.id) %>
								<a href = <%= link %>>
									<%= user.nickname %>
								</a>
							</td>
							<td>
								<%= item.content %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>

			<div >
				<% if can_leave_comment() %>
				<div align = "center" >我有話說</div>
					<form action= "<%= detaillist_comment_new_path %> " method= "post">
						<div class = "form-group">
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type="hidden" name="detail_id" value="<%= @me.id %>">
							<label>Comment</label>
							<textarea class="form-control" name="content" cols = "50" rows="5"></textarea>
							<div>
								<input type = "submit" class = "btn btn-primary" style = "width: 150px;">
							</div>
						</div>
					</form>
				<% else %>
					登入後方可留言
				<% end %>
			</div>

			

			
		</div>
	</div>
<% end %>


<!-- div Modal -->

<div class="modal fade" id="ReportModal" role="dialog">
	<div class="modal-dialog">
		
		<!-- Modal 裡面的內容 -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">我要檢舉  —  </h4>
			</div>
			
			<!-- 表單 -->
			<form id="ReportForm" method="post">
				<div class="modal-body">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="detail_id" id="detail_id" value="">
					<input type="hidden" name="pos_page" value="<%= "posg" %>">
					<input type="hidden" name="neg_page" value="<%= "test" %>">
					<div class="checkbox">
						<label><input type="checkbox" name="rule1" id="CheckRule1">原始文章的截圖不符合規定<%=  %></label>
					</div>
					<div class="checkbox" style="padding-left:40px;">
						<label><input type="checkbox" name="rule2" id="CheckRule2">根本不是這篇文章</label>
					</div>
					<div class="checkbox" style="padding-left:40px;">
						<label><input type="checkbox" name="rule3" id="CheckRule3">不完整</label>
					</div>
					<div class="checkbox" style="padding-left:80px;">
						<label><input type="checkbox" name="rule4" id="CheckRule4">沒有議題主文</label>
					</div>
					<div class="checkbox" style="padding-left:80px;">
						<label><input type="checkbox" name="rule5" id="CheckRule5">主文沒有全部擷取</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="rule6" id="CheckRule6">原始文章中沒有這段話</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="rule7" id="CheckRule7">原始文章沒提到作者有講這段話</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="rule8" id="CheckRule8">原始文章中提到的被編者局部改寫了</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="rule9" id="CheckRule9">原始文章中提到的作者講的這段話，應該被歸於贊成／反對的另一邊</label>
					</div>
					<div>
						<lable>其他原因</lable>
						<input type="text" name="rule10" id = "CheckRule10" maxlength="100" style="width: 100%;">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">確定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</form>
		</div>
	</div>
</div>