<% if !@all_detail %>
<div class = "container"><font color="white">
<div class = "row">
  <div class = "col-md-12">
    <table class = "table table-bordered">
      <thead>
        <tr align = "center">
          <td class = "col-md-12" colspan = "7">
          </td>
        </tr>
        <tr align = "center">
          <td class = "col-md-1"><font color="white">
            名人
          </td>
          <td class = "col-md-1"><font color="white">
            議題
          </td>
          <td class = "col-md-1"><font color="white">
            態度
          </td>
          <td class = "col-md-6"><font color="white">
            主要論述
          </td>
          <td class = "col-md-1"><font color="white">
            發表時間
          </td>
          <td class = "col-md-1"><font color="white">
            編者
          </td>
          <td class = "col-md-1"><font color="white">
            原始資料
          </td>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>
              <% link = "/peoplelist/"+ @person.name%>
              <a href = <%= link %> >
                <%= @person.name %>
              </a>
            </td>
            <td>
              <% link = "/issuelist/"+ @issue.id.to_s %>
              <a href = <%= link %> >
                <%= @issue.title %>
              </a>
            </td>
            <td>
              <% if @me.is_support == true %>
                支持
              <% else %>
                反對
              <% end %>
            </td>
            <td>
              <%= @me.content %>
            </td>
            <td>
              <%= @me.created_at %>
            </td>
            <td>
              <% link = "/userlist/"+ @user.id.to_s%>
              <a href = <%= link %> >
                <%= @user.nickname %>
              </a>
            </td>
            <td>
              <% link = "https://"+@me.link %>
                <a href = <%= link %> >
                  參考資料
                </a>
            </td>
          </tr>
      </tbody>
    </table>
    <div align = "center" class = "col-md-12"><%= link_to("我有話說", new_detallist_path(@tags), class: "btn btn-default btn-xs", style: " width : 500px") %></div>
    <table class = "table table-bordered">
      <thead>
        <tr align = "center">
          <td class = "col-md-12" colspan = "3">
          </td>
        </tr>
        <tr align = "center">
          <td>使用者</td>
          <td>內文</td>
          <td>時間</td>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td>
              <%= comment.post_id %>
            </td>
            <td>
              <%= comment.content %>
            </td>
            <td>
              <%= comment.created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>

<% else %> 

<div class = "container"><font color="white">
  施工中
</div>

<% end %>