<link rel="stylesheet" type="text/css" href="/css/table.css">
<script src="/js/queryHide.js"></script>
<% 
	def getLikeNumber(issue)
		detail_strings = issue.datadetail_id.split(',')
		return @AllLike.where(detail_id: detail_strings).length
	end

	def getSelfLink(candidated_order,issue_order,candidated_search,issue_search,show_hide)
		result = ""
		if candidated_order.nil? || candidated_order.empty?
			result = result + "?candidated_order=" + "near_hot"
		else
			result = result + "?candidated_order=" + candidated_order
		end
		if issue_order.nil? || issue_order.empty?
			result = result + "&issue_order=" + "near_hot"
		else
			result = result + "&issue_order=" + issue_order
		end
		if candidated_search.nil? || candidated_search.empty?
			result = result + "&candidated_search=" + ""
		else
			result = result + "&candidated_search=" + candidated_search
		end
		if issue_search.nil? || issue_search.empty?
			result = result + "&issue_search=" + ""
		else
			result = result + "&issue_search=" + issue_search
		end
		if show_hide.nil? || show_hide.empty?
			result = result + "&show_hide=" + ""
		else
			result = result + "&show_hide=" + show_hide
		end
		return issuelist_all_path() + result
	end
%>
<% def CreateIssueValue(issue) %>
	<% if issue.is_candidate %>
		<td>
			<%= issue.title %>
		</td>
		<td>
			<div><%= issue.thumb_up.split(',').length %></div>
			<div>
				<% if !can_like() %>
					登入後才能連署
				<% elsif issue.thumb_up.include?(current_user.id.to_s) %>
					你已連署過
				<% else %>
					<% link = issuelist_thumb_up_path + "?id=" + issue.id.to_s %>
					<%= link_to "連署",link,method: :post%>
				<% end %>
			</div>
		</td>
		<td>
			<%= issue.created_at.to_date %>
		</td>
		<td>
			<% user = @users.where(id: issue.post_id)[0] %>
			<% link = userlist_index_path(id: user.id) %>
			<a href="<%= link %>"><%= user.nickname %></a>
		</td>
		<% if can_level_up_issue() %>
			<td>
				<% link = issuelist_upgrade_path + "?id=" + issue.id.to_s %>
				<%= link_to "升級",link,method: :post%>
			</td>
		<% else %>
		<% end %>
		<% if can_hide_issue() %>
			<td>
				<% if issue.is_hide == true %>
					<% @text = "顯示" %>
				<% else %>
					<% @text = "隱藏" %>
				<% end %>
				<input type="button" class = "hideIssueButton" issue_id=<%= issue.id %> value = <%= @text %> >
			</td>
		<% end %>
		
	<% else %>
		<td>
			<% link = issuelist_index_path(id: issue.id) %>
			<a href="<%= link %>"><%= issue.title %></a>
		</td>
			
		<td>
			<%= getStringIDLength(issue.datadetail_id) %>
		</td>
		<td>
			<%= getLikeNumber(issue) %>
		</td>
		
		<td>
			<%= issue.created_at.to_date %>
		</td>
		<td>
			<% user = @users.where(id: issue.post_id)[0] %>
			<% link = userlist_index_path(id: user.id) %>
			<a href="<%= link %>"><%= user.nickname %></a>
		</td>
	<% end %>
	
	
<% end %>
<% def CreateIssueContent(maxContentNumber) %>
	<% @issues.each do |item|%>
		<tr><% CreateIssueValue(item) %></tr>
	<% end %>
<% end %>
<% def CreateCandidateContent(maxContentNumber) %>
	<% @candidates.each do |item|%>
		<tr><% CreateIssueValue(item) %></tr>
	<% end %>
<% end %>
<% def CreateIssueTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td colspan = "5"> 議題清單</td></tr>
			<tr><td>標題</td><td>意見總數</td><td>按讚總數</td><td>上線時間</td><td>提案使用者</td></tr>
		</thead>
		<tbody>
			<% CreateIssueContent(3) %>
		</tbody>
	</table>
<% end %>
<% def CreateCandidateTable() %>
	<table class="table table-bordered">
		<thead>
			<tr><td colspan = <% if can_level_up_issue() %>"6"<% else %>"4"<% end %>> 候選議題</td></tr>
			<tr>
				<td>標題</td><td>連署數</td><td>提案時間</td><td>提案使用者</td>
				<% if can_level_up_issue() %><td>升為正式議題</td><% else %><% end %>
				<% if can_hide_issue() %><td>隱藏議題</td><% else %><% end %>
			</tr>
		</thead>
		<tbody>
			<% CreateCandidateContent(3) %>
		</tbody>
	</table>
<% end %>


<div class="BigTitle col-md-12"">
	
	<table class = "col-md-12">
		<tr>
			<td class = "col-md-6"><h2>候選議題</h2></td>
			<td class = "col-md-6"><h2>議題清單</h2></td>
		</tr>
	</table>
</div>
<div align = "center" class = "whiteText">
	<div id = "bigTable">
		<table class="table col-md-12">
			<tr>
				<td class = "col-md-6">
					<div align = "left">
					<table>
						<td>
						<div>
							<select name="candidated_time" onchange="location = this.value;">
								<% temp = "near_hot" %>
								<% str_show = "近期熱門排序" %>
								<% link  = getSelfLink("near_hot",@issue_order,@candidated_search,@issue_search,@show_hide) %>
								<option value="<%= link %>"  <%if @candidated_order == "near_hot"%>selected="selected"<%end%>>
									<%= str_show %>
								</option>
								<% temp = "time" %>
								<% str_show = "最新排序" %>
								<% link  = getSelfLink("time",@issue_order,@candidated_search,@issue_search,@show_hide)%>
								<option value="<%= link %>" <%if @candidated_order == "time"%>selected="selected"<%end%>>
									<%= str_show %>	
								</option>
							</select>

							<% if can_hide_issue()%>
								<select name="show_hide" onchange="location = this.value;">
									<% temp = "true" %>
									<% str_show = "顯示全部候選議題" %>
									<% link  = getSelfLink(@candidated_order,@issue_order,@candidated_search,@issue_search,temp) %>
									<option value="<%= link %>"  <%if @show_hide == "true"%>selected="selected"<%end%>>
										<%= str_show %>
									</option>
									<% temp = "false" %>
									<% str_show = "不顯示隱藏的候選議題" %>
									<% link  = getSelfLink(@candidated_order,@issue_order,@candidated_search,@issue_search,temp)%>
									<option value="<%= link %>" <%if @show_hide == "false"%>selected="selected"<%end%>>
										<%= str_show %>	
									</option>
								</select>
							<% end %>
							
						</div>
						</td>
						<td><p>&nbsp</p></td>
						<td>
						<form action="<%= getSelfLink(@candidated_order,@issue_order,@candidated_search,@issue_search,@show_hide) %>">
						  <input type="text" name="candidated_search" value="<%=@candidated_search%>">
						  <input type="hidden" name="candidated_order" value="<%=@candidated_order%>">
						  <input type="hidden" name="issue_order" value="<%=@issue_order %>">
						  <input type="hidden" name="issue_search" value="<%=@issue_search%>">
						  <input type="submit" value="搜尋">
						</form>
						</td>
						<td><p>&nbsp</p></td>
						<td>
						<% if can_add_issue() %>
							<form action="<%= issuelist_add_path %>">
								<input type="submit" value="新增議題" />
							</form>
						<% end %>
						</td>
					</div>
					</table>
					<div>
						<% CreateCandidateTable() %>
					</div>
				</td>
				<td class = "col-md-6">
					<table>
					<td>
					<div>
						<select name="issue_time" onchange="location = this.value;">
							<% temp = "near_hot" %>
							<% str_show = "近期熱門排序" %>
							<% link  = getSelfLink(@candidated_order,"near_hot",@candidated_search,@issue_search,@show_hide) %>
							<option value="<%= link %>"  <%if @issue_order == "near_hot"%>selected="selected"<%end%>>
								<%= str_show %>
							</option>
							<% temp = "time" %>
							<% str_show = "最新排序" %>
							<% link  = getSelfLink(@candidated_order,"time",@candidated_search,@issue_search,@show_hide) %>
							<option value="<%= link %>" <%if @issue_order == "time"%>selected="selected"<%end%>>
								<%= str_show %>	
							</option>
							<% temp = "time" %>
							<% str_show = "歷史熱門" %>
							<% link  = getSelfLink(@candidated_order,"hot",@candidated_search,@issue_search,@show_hide) %>
							<option value="<%= link %>" <%if @issue_order == "hot"%>selected="selected"<%end%>>
								<%= str_show %>	
							</option>
						</select>
					</div>
					</td>
					<td><p>&nbsp</p></td>
					<td>
					<form action="<%= getSelfLink(@candidated_order,@issue_order,@candidated_search,@issue_search,@show_hide) %>">
						  搜尋議題
						  <input type="text" name="issue_search" value="<%= @issue_search %>">
						  <input type="hidden" name="candidated_search" value="<%=@candidated_search%>">
						  <input type="hidden" name="candidated_order" value="<%=@candidated_order%>">
						  <input type="hidden" name="issue_order" value="<%=@issue_order %>">
						  <input type="submit" value="搜尋">
						</form>
					</td>
					</table>
					<div>
						<% CreateIssueTable() %>
					</div>
					
				</td>
			</tr>
		</table>
	</div>
</div>