<link rel="stylesheet" type="text/css" href="/css/table.css">
<div class="BigTitle">
    <h2>所有候選議題</h2>
    <hr>
</div>
<div align = "center" class = "whiteText">

	<div class = "col-md-offset-2 col-md-8 ">
		<div align = "left">
			<% link = issuelist_candidate_path(order: "time") %>
			<a href= <%= link %> >依時間排序</a>
			<% link = issuelist_candidate_path(order: "thumb_up") %>
			<a href= <%= link %> >依人氣排序</a>
			<% link = issuelist_candidate_path(order: "thumb_up_day") %>
			<a href= <%= link %> >顯示近期人氣議題</a>
		</div>
		<table class = "table table-bordered">
			<thead>
				<tr align = "center">
					<td colspan = "5">候選議題</td>
				</tr>
				<tr><td>標題</td><td>父議題</td><td>票數</td><td>上線時間</td><td>升為正式議題</td></tr>
			</thead>
			<tbody>
				<% @issues.each do |issue| %>
					<tr>
						<td>
								<%= issue.title %>
						</td>
						<td>
							<% father = @issueList.where(id: issue.trunk_id)[0]%>
							<% if father.nil? %>
								此為根議題
							<% else %>
								<%= father.title %>
							<% end %>
						</td>
						<td>
							<div><%= issue.thumb_up.split(',').length %></div>
								<div>
								<% if issue.thumb_up.include?(current_user.id.to_s)%>
									你已投過票
								<% else %>
									<% link = issuelist_thumb_up_path + "?id=" + issue.id.to_s %>
									<%= link_to "投票",link,method: :post%>
								<% end %>
							</div>
							
						</td>
						<td>
							<%= issue.created_at %>
						</td>
						<td>
							<% if can_editor_issue()%>
								<% link = issuelist_upgrade_path + "?id=" + issue.id.to_s %>
								<%= link_to "升級",link,method: :post%>
							<% else %>
								限管理員使用
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>