<div class="BigTitle">
    <h2>修改議題</h2>
    <hr>
</div>
<% if current_user.nil? %>
	error please verify you self
<% else %>
	<div class >
		<div class = "container">
			<div class = "jumbotron">
				<div class = "row">
					<form action= "<%= issuelist_update_path %> " method= "post">
						<div class = "form-group">
							<label>Title*</label>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type = "hidden" name = "id" value = "<%= @issue.id %>" >
                        	<input type="text" class="form-control" name="title" required="true" value = "<%= @issue.title %>" >
                        	<br>
                        	<label>description</label>
                        	<textarea class="form-control" name="post" cols = "50" rows="5"><%= @issue.post %></textarea>
                        	<br>
                        	<label>trunkID (if no trunk don't fill data)</label>
                        	<input type="text" class="form-control" name="trunk_id" value = "<%= @issue.trunk_id %>">
                        	<br>
                        	<label>tag (separate with ',')</label>
                        	<input type="text" class="form-control" name="tag" value = "<%= @issue.tag %>">
                        	<br>
                        	<div>
                        		<input type = "submit" class = "btn btn-primary" style = "width: 150px;">
                        	</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<% end %>