<script src="/js/queryIssue.js"></script>
<link rel="stylesheet" type="text/css" href="/css/query.css">
<link rel="stylesheet" type="text/css" href="/css/user/form.css">
<div class="BigTitle">
    <h2>修改議題</h2>
    <hr>
</div>
<% if current_user.nil? %>
	error please verify you self
<% else %>
	<div class >
		<div class = "container">
			<div class = "jumbotron">
				<div class = "row">
					<form action= "<%= issuelist_update_path %> " method= "post">
						<div class = "form-group">
							<label>標題*</label>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type = "hidden" name = "id" value = "<%= @issue.id %>" >
                        	<input type="text" class="form-control" name="title" required="true" value = "<%= @issue.title %>" >
                        	<br>
                        	<label>描述</label>
                        	<textarea class="form-control" name="post" cols = "50" rows="5"><%= @issue.post %></textarea>
                            <br>
                        	<label>標籤 (請用','隔開)</label>
                        	<input type="text" class="form-control" name="tag" value = "<%= @issue.tag %>" required="true">
                        	<br>
                        	<div>
                        		<input type = "submit" class = "btn btn-primary" style = "width: 150px;">
                        	</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<% end %>