<font color="white">
<% if @issues.where(id: @tags).length >= 1 %>
<div class = "container">
<div class = "row">
	<div class = "col-md-4">
		<!-- 找到指定issuse-->
		<% tag_issue = @issues.where(id: @tags)[0] %>
		<!-- 找到指定根issuse-->
		<% temp_issue = tag_issue %>
		<% while temp_issue.trunk_id != -1 %>
			<% temp_issue.popularity = temp_issue.popularity + 1 %>
			<% temp_issue.update(popularity: temp_issue.popularity) %>
			<% temp_issue =@issues.where(id: temp_issue.trunk_id)[0] %>
		<% end %>
		<!-- 增加issuse熱門程度-->
		<% temp_issue.popularity = temp_issue.popularity %>
		<% temp_issue.update(popularity: temp_issue.popularity + 1) %>

		<!-- Tree iterative-->
		<%	def runTree(issue) %>
			<div> 
				<%	@issues.where(trunk_id: issue.id).each do |sub_issue| %> 
					<blockquote>
						<% if sub_issue.id.to_s == @tags %>
							<%= sub_issue.title %>
						<% else %>
							<% link = "/issuelist/" + sub_issue.id.to_s %>
							<a href = <%= link %> >
								<%= sub_issue.title %>
							</a>
						<% end %>
						<% runTree(sub_issue) %>
					</blockquote>
				<% end %>
			</div>
		<%	end %>
		<!-- 產生Tree -->
		<div>
			<% if temp_issue.id.to_s == @tags %>
				<%= temp_issue.title %>
			<% else %>
				<% link = "/issuelist/" + temp_issue.id.to_s %>
				<a href = <%= link %> >
					<%= temp_issue.title %>
				</a>
			<% end %>
				<% runTree(temp_issue) %>
		</div>

	</div>
	<div class = "col-md-8">
		<!-- 產生comment table -->
		<table class = "table">
			<thead>
				<tr align = "center">
					<td class = "col-md-8" colspan = "2">
						<%= @me.title %>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class = "col-md-7">
						<%= @me.post %>
					</td>
					<td class = "col-md-1">
						<button type="button" style="float: right;"><font color = "black">我要議論</font></button>
					</td>
				</tr>
			</tbody>
		</table>
				<!-- 正 table-->
		<table class = "table table-bordered">
			<thead>
				<tr align = "center">
					<td class = "col-md-8" colspan = "5">
						正方
					</td>
				</tr>
				<tr align = "center">
					<td class = "col-md-1">
						姓名
					</td>
					<td class = "col-md-4">
						主要論述
					</td>
					<td class = "col-md-1">
						原始文章
					</td>
					<td class = "col-md-1">
						發表時間
					</td>
					<td class = "col-md-1">
						編著
					</td>
				</tr>
			</thead>
			<tbody>
				<% if @me.datadetail_id.nil? || @me.datadetail_id.empty? %>
				<% @datadetail.where(id: @me.datadetail_id).where(is_support: true).each do |detail| %>
					<tr>
						<td>
							<% @persons.where(id: detail.people_id).each do |person| %>
							<% link = "/peoplelist/"+person.id.to_s %>
							<a href = <%= link %>>
								<%= person.name %>
							</a>
							<% end %>
						</td>
						<td>
							<%= detail.content %>
						</td>
						<td>
							<% link = "/detaillist/"+detail.id.to_s %>
							<a href = <%= link %>>
								點我看更多
							</a>
						</td>
						<td>
							<%= detail.created_at %>
						</td>
						<td>
							<% @users.where(id: detail.post_id).each do |user| %>
								<% link = "/userlist/"+user.id.to_s %>
								<a href = <%= link %>>
									<%= user.nickname %>
								</a>
							<% end %>
						</td>
					</tr>
				<% end %>
				<% end %>
			</tbody>
		</table>
		<table class = "table table-bordered">
			<thead>
				<tr align = "center">
					<td class = "col-md-8" colspan = "5">
						反方
					</td>
				</tr>
				<tr align = "center">
					<td class = "col-md-1">
						姓名
					</td>
					<td class = "col-md-4">
						主要論述
					</td>
					<td class = "col-md-1">
						原始文章
					</td>
					<td class = "col-md-1">
						發表時間
					</td>
					<td class = "col-md-1">
						編著
					</td>
				</tr>
			</thead>
			<tbody>
				<% @datadetail.where(id: @me.datadetail_id).where(is_support: false).each do |detail| %>
					<tr>
						<td>
							<% @persons.where(id: detail.people_id).each do |person| %>
							<% link = "/peoplelist/"+person.id.to_s %>
							<a href = <%= link %>>
								<%= person.name %>
							</a>
							<% end %>
						</td>
						<td>
							<%= detail.content %>
						</td>
						<td>
							<% link = "/detaillist/"+detail.id.to_s %>
							<a href = <%= link %>>
								點我看更多
							</a>
						</td>
						<td>
							<%= detail.created_at %>
						</td>
						<td>
							<% @users.where(id: detail.post_id).each do |user| %>
								<% link = "/userlist/"+user.id.to_s %>
								<a href = <%= link %>>
									<%= user.nickname %>
								</a>
							<% end %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
		
	</div>
</div>
</div>

<% else %> 

<div class = "row">
	<div class = "col-md-offset-2 col-md-8">
		<table class="table table-bordered" >
			<thead>
				<tr align = "center">
					<td class = "col-md-8" colspan = "3">
						所有議題
					</td>
				</tr>
				<tr align = "center">
					<td class = "col-md-1">
						議題
					</td>
					<td class = "col-md-1">
						點閱數
					</td>
					<td class = "col-md-1">
						提出時間
					</td>
				</tr>
			</thead>
			<tbody>
				<% @issues.where(trunk_id: -1).each do |issue| %>
					<tr >
						<td>
							<% link = "/issuelist/"+issue.id.to_s %>
							<a href = <%= link %>>
								<%= issue.title %>
							</a>
						</td>
						<td>
							<%= issue.popularity %>
						</td>
							
						<td>
							<%= issue.created_at %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

<% end %>
</font>