<script src="/js/queryToggle.js"></script>
<script src="/js/queryVoted.js"></script>
<script src="/js/queryScroll.js"></script>
<link rel="stylesheet" type="text/css" href="/css/table.css">

<% description_text = "" %>
<%
	for i in 0..2
		if i < @support.length
			description_text = description_text + "<center>&nbsp</center>" + @support[i].content
		end
	end
	for i in 0..2
		if i < @disSupport.length
			description_text = description_text + "<center>&nbsp</center>" + @disSupport[i].content
		end
	end
%>
<% content_for :title, "NPWEB-" + @me.title %>
<% content_for :description, description_text %>
<% 
	def HasUser()
		if current_user.nil? || current_user.id.nil?
			return false
		else
			return true
		end
	end

	def HasLike(detail_id)
		likelist =  @likeList.where(detail_id: detail_id)[0]
		if likelist.nil? || likelist.id.nil?
			return false
		else
			return true
		end
	end

	def getSelfLink(p,n,pos_order,neg_order,pos_show,neg_show,pos_ip_select,neg_ip_select)
		return issuelist_index_path(id: @tags) + "?positive_page=" + p.to_s + "&negative_page=" + n.to_s + "&pos_order=" + pos_order + "&neg_order=" + neg_order + "&pos_show=" + pos_show + "&neg_show=" + neg_show + "&pos_ip_select=" + pos_ip_select + "&neg_ip_select=" + neg_ip_select
	end
%>

<% def CreateReferenceIssueContent() %>
	<% @ReferenceIssue.each do |item|%>
		<% link = issuelist_index_path(id: item.id) %>
		<tr><td><a href=<%= link %>><%= item.title %></a></td></tr>
	<% end %>
<% end %>
<% def CreateDownFlowIssueContent() %>
	<% @DownFlowIssue.each do |item|%>
		<% link = issuelist_index_path(id: item.id) %>
		<tr><td><a href=<%= link %>><%= item.title %></a></td></tr>
	<% end %>
<% end %>
<% def CreateReferenceIssueTreeContent() %>
	<% @ReferenceIssueTree.each do |item|%>
		<% link = issuelist_index_path(id: item.id) %>
		<tr><td><a href=<%= link %>><%= item.title %></a></td></tr>
	<% end %>
<% end %>
<% def Page_produce(i) %>
	<% if i == 0 %>
		<tr style="text-align:center;">
			<td colspan="12">
				<table border="0" style="width:100%;">
					<tr>
						<td colspan="12" style="text-align:right;">
							<% if(@PositiveHasLastPage) %>
								<% p = ( @positive_page.to_i - 1 ).to_s %>
								<% n = @negative_page %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
								<%= link_to "上一頁", link %>
							<% end %>
							<%= " " %>
							<% if(@positive_page.to_i - @PageExtend > 0) %>
								<% p = "0" %>
								<% n = @negative_page %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
								<%= link_to "1", link %>
								<% if(@positive_page.to_i - @PageExtend > 1) %>
									<%= "。。。" %>
								<% end %>
							<% end %>
							<% lastPage = ( @support.length / @numberPerPage )%>
							<% for j in 1..@PageExtend %>
								<% k = @PageExtend - j + 1 %>
								<% if(@positive_page.to_i - k > -1) %>
									<% p = ( @positive_page.to_i - k ).to_s %>
									<% n = @negative_page %>
									<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
									<%= link_to ( @positive_page.to_i - k + 1).to_s, link %>
								<% end %>
							<% end %>
							<%= ( @positive_page.to_i + 1 ).to_s %>
							<% for k in 1..@PageExtend %>
								<% if(@positive_page.to_i + k < lastPage + 1) %>
									<% p = ( @positive_page.to_i + k ).to_s %>
									<% n = @negative_page.to_s %>
									<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
									<%= link_to ( @positive_page.to_i + k + 1).to_s, link %>
								<% end %>
							<% end %>
							<% if(@positive_page.to_i + @PageExtend < lastPage ) %>
								<% if(@positive_page.to_i + @PageExtend < lastPage - 1) %>
									<%= "。。。" %>
								<% end %>
								<% p = lastPage.to_s %>
								<% n = @negative_page %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
								<%= link_to (lastPage + 1).to_s, link %>
							<% end %>
							<% if(@PositiveHasNextPage) %>
								<% p = ( @positive_page.to_i + 1 ).to_s %>
								<% n = @negative_page.to_s %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
								<%= link_to "下一頁", link %>
							<% end %>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	<% else %>
		<tr style="text-align:center;">
			<td colspan="12">
				<table border="0" style="width:100%;">
					<tr>
						<td colspan="12" style="text-align:right;">
							<% if(@NegativeHasLastPage) %>
								<% p = @positive_page %>
								<% n = ( @negative_page.to_i - 1 ).to_s %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
								<%= link_to "上一頁", link %>
							<% end %>
							<%= " " %>
							<% if(@negative_page.to_i - @PageExtend > 0) %>
								<% p = @positive_page %>
								<% n = "0" %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
								<%= link_to "1", link %>
								<% if(@negative_page.to_i - @PageExtend > 1) %>
									<%= "。。。" %>
								<% end %>
							<% end %>
							<% lastPage = ( @disSupport.length / @numberPerPage )%>
							<% for j in 1..@PageExtend %>
								<% k = @PageExtend - j + 1 %>
								<% if(@negative_page.to_i - k > -1) %>
									<% p = @positive_page %>
									<% n = ( @negative_page.to_i - k ).to_s %>
									<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
									<%= link_to ( @negative_page.to_i - k + 1).to_s, link %>
								<% end %>
							<% end %>
							<%= ( @negative_page.to_i + 1 ).to_s %>
							<% for k in 1..@PageExtend %>
								<% if(@negative_page.to_i + k < lastPage + 1) %>
									<% p = @positive_page %>
									<% n = ( @negative_page.to_i + k ).to_s %>
									<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
									<%= link_to ( @negative_page.to_i + k + 1).to_s, link %>
								<% end %>
							<% end %>
							<% if(@negative_page.to_i + @PageExtend < lastPage ) %>
								<% if(@negative_page.to_i + @PageExtend < lastPage - 1) %>
									<%= "。。。" %>
								<% end %>
								<% p = @positive_page %>
								<% n = lastPage.to_s %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
								<%= link_to (lastPage + 1).to_s, link %>
							<% end %>
							<% if(@NegativeHasNextPage) %>
								<% p = @positive_page %>
								<% n = ( @negative_page.to_i + 1 ).to_s %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
								<%= link_to "下一頁", link %>
							<% end %>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	<% end %>
<% end %>
<% if @me.nil? %>
	<div class = "whiteText">
		錯誤的連結位置
	</div>
<% else %>
	<div class = "whiteText">
	<div id = "scroll" value = "" style="visibility: hidden;"></div>
		<div class = "col-md-offset-1 col-md-10">
			<!-- title -->
			<div align = "center"><h3><%= @me.title %></h3></div>
			<table class = "table col-md-10" >
				<thead>
					<tr>
						<td align="left">
							<% if can_add_issue() %>
								<%= link_to "新增下游議題", issuelist_add_path(suggest: @me.title), {:style=>"background-color: rgb(160, 216, 255);color:black"} %>
							<% end %>
							
							<% if can_view(0)%>
								<%= link_to "新增意見", detaillist_add_path , {:style=>"background-color: rgb(160, 216, 255);color:black"}%>
								<button type="button" class="btn btn-link VotedModal_Voted" data-toggle="modal" data-target="#VoteModal" issue_name="<%= @me.title %>">按贊過的意見</button>
							<% end %>
							<% if can_editor_issue() %>
								<%= link_to "編輯", issuelist_edit_path(id: @me.id) %>
							<% end %>
				            <%= link_to "相關議題樹", "/TreeIndex?OrderBy=1&search=" + @me.title, style: "padding-left: 10px;" %>
						</td>
						<td style="padding-right: 0px;padding-bottom: 0px;padding-left: 0px;padding-top: 0px;background-color:white;"></td>
						<td align = "right">
							上線時間：<%= @me.created_at %> 
							標籤：<%= @me.tag %> 
							意見總數：<%= @totalDetailNumber %> 
							投票總數：<%= @totalLikeNumber %>
							
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<div
							  class="fb-like"
							  data-like="false"
							  data-share="true"
							  data-width="450"
							  data-show-faces="true" display: inline-block;>
							</div>
					</tr>
				</tbody>
			</table>
			<!-- support detail -->
			<% for i in 0..1 %>
				<% if i == 0 %>
					<% temp = "table" %>
					<% str_show = "只顯示直接意見" %>
					<% if @pos_show == "table" %>
						
						<% str_show = "只顯示直接意見" %>
					<% else %>
						
						<% str_show = "顯示全部意見" %>
					<% end %>
					<div>
						<select name="pos_show" onchange="location = this.value;">
							<% temp = "table" %>
							<% str_show = "顯示全部意見" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,temp,@neg_show,@pos_ip_select,@neg_ip_select)%>
							<option value="<%= link %>"  <%if @pos_show == "table"%>selected="selected"<%end%>><%= str_show %></option>
							<% temp = "content" %>
							<% str_show = "只顯示直接意見" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,temp,@neg_show,@pos_ip_select,@neg_ip_select)%>
							<option value="<%= link %>" <%if @pos_show == "content"%>selected="selected"<%end%>><%= str_show %></option>
						</select>
						<select name="pos_order" onchange="location = this.value;">
							<% temp = "thumb" %>
							<% str_show = "依投票排序" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,"thumb",@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
							<option value="<%= link %>"  <%if @pos_order == "thumb"%>selected="selected"<%end%>><%= str_show %></option>
							<% temp = "time" %>
							<% str_show = "依時間排序" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,"time",@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
							<option value="<%= link %>" <%if @pos_order == "time"%>selected="selected"<%end%>><%= str_show %></option>
						</select>
						<select name="pos_ip_select" onchange="location = this.value;">
							<% temp = "NotBlock" %>
							<% str_show = "計算全部投票" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,@pos_show,@neg_show,"off",@neg_ip_select)%>
							<option value="<%= link %>"  <%if @pos_ip_select == "off"%>selected="selected"<%end%>><%= str_show %></option>
							<% temp = "Block" %>
							<% str_show = "只計算境內(台灣)投票" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,@pos_show,@neg_show,"on",@neg_ip_select)%>
							<option value="<%= link %>" <%if @pos_ip_select == "on"%>selected="selected"<%end%>><%= str_show %></option>
						</select>
					</div>
				<% elsif(false) %>
					<div>
						<select name="neg_show" onchange="location = this.value;">
							<% temp = "table" %>
							<% str_show = "顯示全部意見" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,@pos_show,temp,@pos_ip_select,@neg_ip_select)%>
							<option value="<%= link %>"  <%if @neg_show == "table"%>selected="selected"<%end%>><%= str_show %></option>
							<% temp = "content" %>
							<% str_show = "只顯示直接意見" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,@pos_show,temp,@pos_ip_select,@neg_ip_select)%>
							<option value="<%= link %>" <%if @neg_show == "content"%>selected="selected"<%end%>><%= str_show %></option>
						</select>
						<select name="neg_order" onchange="location = this.value;">
							<% temp = "thumb" %>
							<% str_show = "依投票排序" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,"thumb",@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
							<option value="<%= link %>"  <%if @neg_order == "thumb"%>selected="selected"<%end%>><%= str_show %></option>
							<% temp = "time" %>
							<% str_show = "依時間排序" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,"time",@pos_show,@neg_show,@pos_ip_select,@neg_ip_select)%>
							<option value="<%= link %>" <%if @neg_order == "time"%>selected="selected"<%end%>><%= str_show %></option>
						</select>
						<select name="neg_ip_select" onchange="location = this.value;">
							<% temp = "NotBlock" %>
							<% str_show = "計算全部投票" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,"off")%>
							<option value="<%= link %>"  <%if @neg_ip_select == "off"%>selected="selected"<%end%>><%= str_show %></option>
							<% temp = "Block" %>
							<% str_show = "只計算境內(台灣)投票" %>
							<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,"on")%>
							<option value="<%= link %>" <%if @neg_ip_select == "on"%>selected="selected"<%end%>><%= str_show %></option>
						</select>
					</div>
				<% end %>
				
				<div <% if i == 0 %> id = "posTable" <% else %> id = "negTable" <% end %>>
					<table class = "table table-bordered table-blue">
						<thead>
							<% if i == 0 %>
								<tr align = "center"><td class = "col-md-8" colspan = "9">贊成</td></tr>
							<% else %>
								<tr align = "center"><td class = "col-md-8" colspan = "9">反對 </td></tr>
							<% end %>
							<tr>
								<td style="max-width: 400px;min-width: 400px">意見</td>
								<td><div>誰的意見</div><div>當時頭銜</div></td>
								<td>屬於間接意見？</td>
								<td><div>發言時間</div><div>刊載媒體</div></td>
								<td><div>原文連結</div><div>原文備份</div></td>
								<td>人氣</td>
								<td><div>上線時間</div><div>編者</div></td>
								<td>檢舉</td>
							</tr>
							<% details = nil %>
							<% pageNumber = 0 %>
							<% if i == 0 %>
								<% details = @support %>
								<% pageNumber = @positive_page %>
							<% else %>
								<% details = @disSupport %>
								<% pageNumber = @negative_page %>
							<% end %>
							
						</thead>
						<tbody>
							<% for j in 0..@numberPerPage - 1 %>
								<% index = @numberPerPage * pageNumber.to_i + j %>
								<% if details.length > index %>
									<% detail = details[index] %> 
									<% person = @persons.where(id: detail.people_id)[0] %>
									<% user = @users.where(id: detail.post_id)[0] %>
									<% media = @medias.where(name: detail.news_media)[0] %>
									<!-- content -->
									<tr>
										<td style="word-break: break-all;width: 400px !important;">
											<% link = detaillist_index_path(id: detail.id) %>
											<a href = <%= link %>><%= detail.content %></a>
										</td>
										<td><div><% if person.nil? %>無名氏<% else %><% link = peoplelist_index_path(id: person.name) %><a href = <%= link %>> <%= person.name %> </a><% end %></div><div><%= detail.	title_at_that_time %></div></td>
										<td><% if detail.is_direct %><% else %>間<% end %></td>
										<td>
											<div><%= detail.report_at %></div>
											<% link = media_index_path(id: media.name) %>
											<div>
												<a href=<%= link %>>
													<%= media.name %>	
												</a>
											</div>
										</td>
										<td>
											<div>
												<% link = detail.link %>
												<% if link.first(4).include?("http") %>
												<% else %>
													<% link = "http://" + link %>
												<% end %>
												<a href = <%= link %> target="_blank">原文連結</a>
											</div>
											<div>
												<% link = "pageBackUp/"+detail.backup_id.to_s+"."+detail.backup_type %>
												<% if detail.backup_type == "video_source" %>
													<% link = detail.backup_id %>
													<% if link.first(4).include?("http") %>
													<% else %>
														<% link = "http://" + link %>
													<% end %>
													<a href = "<%= link %>" target="_blank">影片連結</a>
												<% elsif FileIsExit(link) %>
													<a href = <%= "/"+link %> target="_blank">
													  備份檔案
													</a>
												<% else %>
													<br>
												<% end %>
											</div>
										</td>
										<td>
											<% if i == 0%>
												<% if @pos_ip_select == "on" %>
													<%= @AllLike.where(detail_id: detail.id,ip: "Taiwan").length %>
												<% else %>
													<%= @AllLike.where(detail_id: detail.id).length %>
												<% end %>
											<% else %>
												<% if @neg_ip_select == "on" %>
													<%= @AllLike.where(detail_id: detail.id,ip: "Taiwan").length %>
												<% else %>
													<%= @AllLike.where(detail_id: detail.id).length %>
												<% end %>
											<% end %>
											
											<% if HasUser() %>
												<% if HasLike(detail.id) %>
													<% path = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select) %>
													<% path = path.gsub('?','!').gsub('&','|') %>
													<% link = detaillist_dislike_path + "?id=" + detail.id.to_s + "&path=" + path%>
													<%= link_to "收回贊",link,method: :post%>
												<% else %>
													<% if(i==0 && @NoMorePosLike) || (i == 1 && @NoMoreNegLike)%>
														<br>
														以達
														<% if i == 0 %>
															贊成
														<% else %>
															反對
														<% end %>
														按贊上限
													<% else %>
														<% path = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,@pos_show,@neg_show,@pos_ip_select,@neg_ip_select) %>
														<% path = path.gsub('?','!').gsub('&','|') %>
														<% link = detaillist_like_path + "?id=" + detail.id.to_s + "&path=" + path%>
														<%= link_to "按贊",link,method: :post%>
													<% end %>
												<% end %>
											<% else %>
												<br>登入後才可按贊
											<% end %>
										</td>
										<td>
											<div><%= detail.created_at.to_date %></div>
											<div>
												<% link = userlist_index_path(id: user.id) %>
												<a href = <%= link %>>
													<%= user.nickname %>
												</a>
											</div>
										</td>
										<td>
											<div>
												檢舉數：<%= @all_reports.where(detail_id: detail.id).length%>
											</div>
											<div>
												<% if current_user.nil? %>
													登入後方可檢舉
												<% else %>
													<% if @reports.where(detail_id: detail.id)[0].nil? %>
														<button type="button" class="btn btn-link ReportModal_Button" 
														data-toggle="modal" data-target="#ReportModal	" 
														issue_name="<%= @me.title %>" 
														post_name="<%= user.nickname %>" 
														content="<%= detail.content %>" 
														issue_id=	"<%= params[:issue_id] %>"  
														detail_id="<%= detail.id %>"
														>檢舉</button>
													<% else %>
														你已檢舉過了
													<% end %>
												<% end %>
											</div>
											
											
										</td>
									</tr>
								<% else %>
								<% end %>
							<% end %>
							<!-- 換頁 -->
							<% Page_produce(i) %>
						</tbody>
					</table>
				</div>
			<% end %>
			
			<!-- reference issue && donwflow issue -->
			<div  align = "center">
				<table class = "col-md-offset-1 col-md-10">
					<td>
						<table class = "table table-bordered">
							<thead>
								<tr>
									<td>下游議題</td>	
								</tr>								
							</thead>
							<tbody>
								
									<% CreateDownFlowIssueContent() %>
								
							</tbody>
						</table>
					</td>
					<td width="20px"></td>
					<td>
						<table class = "table table-bordered">
							<thead>
								<tr>
									<td>相關議題</td>	
								</tr>								
							</thead>
							<tbody>
									<% CreateReferenceIssueContent() %>
							</tbody>
						</table>
					</td>
				</table>
			</div>
		</div>
	</div>


<% end %>

<!-- div Modal -->

<div class="modal fade" id="VoteModal" role="dialog">
	<div class="modal-dialog">
		
		<!-- Modal 裡面的內容 -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4>我在 <%= @me.title %>投贊過的意見</h4>
			</div>
			
			<!-- 表單 -->
			<form action= "<%= detaillist_groupeDislike_path %> " method="post">
				<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
				<% detail_ids = "" %>
				<% for i in 0..1 %>
					<table class = "table table-bordered">
						<thead>
							<% if i == 0 %>
								<tr align = "center"><td class = "col-md-8" colspan = "3">贊成意見</td></tr>
							<% else %>
								<tr align = "center"><td class = "col-md-8" colspan = "3">反對意見 </td></tr>
							<% end %>
							<tr>
								<td><div>名人</div><div>（當時頭銜）</div></td>
								<td>內容</td>
								<td>是否收回</td>
							</tr>
						</thead>
						<tbody>
							<% if current_user.nil? %>
							<% else %>
								<% details = @details %>
								<% if i == 0 %><% details = @support %><% else %><% details = @disSupport %><% end %>
								<%	details.each do |detail| %>
		
									<% if !@AllLike.where(detail_id: detail.id,post_id: current_user.id)[0].nil? %>
										<% person = @persons.where(id: detail.people_id)[0] %>
										<% user = @users.where(id: detail.post_id)[0] %>
										<tr>
											<td><div><% if person.nil? %>無名氏<% else %><% link = peoplelist_index_path(id: person.name) %><a href = <%= link %>> <%= person.name %> </a><% end %></div><div> ( <%= detail.	title_at_that_time %> )</div></td>
											<td>
												<% link = detaillist_index_path(id: detail.id) %>
												<a href = <%= link %>><%= detail.content %></a>
											</td>
											<td>
												<input type="checkbox" class="form-control" name="<%= detail.id %>">
											</td>
										</tr>
										<% detail_ids = detail_ids + detail.id.to_s + "," %>
									<% end %>
								<% end %>
							<% end %>
						</tbody>
					</table>
				<% end %>
				<input type="hidden" name="detail_ids" value="<%= detail_ids %>">
				<input type = "submit" class = "btn btn-primary" style = "width: 150px;">
			</form>
		</div>
	</div>
</div>

<!-- div Modal -->

<div class="modal fade" id="ReportModal" role="dialog">
	<div class="modal-dialog">
		
		<!-- Modal 裡面的內容 -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">我要檢舉  —  </h4>
			</div>
			
			<!-- 表單 -->
			<form id="ReportForm" method="post">
				<div class="modal-body">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type="hidden" name="detail_id" id="detail_id" value="">
					<input type="hidden" name="pos_page" value="<%= "posg" %>">
					<input type="hidden" name="neg_page" value="<%= "test" %>">
					<div class="checkbox">
						<label><input type="checkbox" name="rule1" id="CheckRule1">原始文章的截圖不符合規定<%=  %></label>
					</div>
					<div class="checkbox" style="padding-left:40px;">
						<label><input type="checkbox" name="rule2" id="CheckRule2">根本不是這篇文章</label>
					</div>
					<div class="checkbox" style="padding-left:40px;">
						<label><input type="checkbox" name="rule3" id="CheckRule3">不完整</label>
					</div>
					<div class="checkbox" style="padding-left:80px;">
						<label><input type="checkbox" name="rule4" id="CheckRule4">沒有議題主文</label>
					</div>
					<div class="checkbox" style="padding-left:80px;">
						<label><input type="checkbox" name="rule5" id="CheckRule5">主文沒有全部擷取</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="rule6" id="CheckRule6">原始文章中沒有這段話</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="rule7" id="CheckRule7">原始文章沒提到作者有講這段話</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="rule8" id="CheckRule8">原始文章中提到的被編者局部改寫了</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" name="rule9" id="CheckRule9">原始文章中提到的作者講的這段話，應該被歸於贊成／反對的另一邊</label>
					</div>
					<div>
						<lable>其他原因</lable>
						<input type="text" name="rule10" id = "CheckRule10" maxlength="100" style="width: 100%;">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">確定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</form>
		</div>
	</div>
</div>