<% 
	def HasUser()
		if current_user.nil? || current_user.id.nil?
			return false
		else
			return true
		end
	end

	def HasLike(detail_id)
		likelist =  @likeList.where(detail_id: detail_id)[0]
		if likelist.nil? || likelist.id.nil?
			return false
		else
			return true
		end
	end
%>

<% if @me == nil %>
	<div class = "whiteText">
		error,invalid parameter
	</div>
<% else %>
	<div class = "whiteText">
		<%= link_to "編輯", issuelist_edit_path(id: @me.id) %>
		<!-- find the root issue-->
		<% temp_issue = @me %>
		<% while temp_issue.trunk_id != -1 %>
			<!-- 所有根議題的點閱率都加一 -->
			<% temp_issue.popularity = temp_issue.popularity + 1 %>
			<% temp_issue.update(popularity: temp_issue.popularity) %>
			<% temp_issue =@issues.where(id: temp_issue.trunk_id)[0] %>
		<% end %>
		<% temp_issue.popularity = temp_issue.popularity + 1 %>
		<% temp_issue.update(popularity: temp_issue.popularity) %>
		<div class = "col-md-2">
			<!-- Tree iterative-->
			<%	def runTree(issue) %>
				<div> 
					<%	@issues.where(trunk_id: issue.id).each do |sub_issue| %> 
						<blockquote>
							<% if sub_issue.id.to_s == @tags %>
								<%= sub_issue.title %>
							<% else %>
								<% link = "/Issuelist/" + sub_issue.id.to_s %>
								<a href = <%= link %> >
									<%= sub_issue.title %>
								</a>
							<% end %>
							<% runTree(sub_issue) %>
						</blockquote>
					<% end %>
				</div>
			<%	end %>
			<!-- 產生Tree -->
			<div>
				<% if temp_issue.id.to_s == @tags %>
					<%= temp_issue.title %>
				<% else %>
					<% link = "/Issuelist/" + temp_issue.id.to_s %>
					<a href = <%= link %> >
						<%= temp_issue.title %>
					</a>
				<% end %>
					<% runTree(temp_issue) %>
			</div>
		</div>

		<div class = "col-md-10">
			<!-- title -->
			<table class = "table">
				<thead>
					<tr align = "center"><td class = "col-md-8" colspan = "2"><%= @me.title %></td></tr>
				</thead>
				<tbody>
					<tr>
						<td class = "col-md-7"><%= @me.post %></td>
						<td class = "col-md-1"><%= link_to "新增論述", detaillist_add_path %></td>
					</tr>
				</tbody>
			</table>
			<!-- support detail -->
			<% for i in 0..1 %>
				<table class = "table table-bordered">
					<thead>
						<% if i == 0 %>
							<tr align = "center"><td class = "col-md-8" colspan = "2">正方論述</td></tr>
						<% else %>
							<tr align = "center"><td class = "col-md-8" colspan = "2">反方論述</td></tr>
						<% end %>
						<% detail = nil %>
						<% if i == 0 %>
							<% details = @support %>
						<% else %>
							<% details = @disSupport %>
						<% end %>
						
					</thead>
					<tbody>
						<% details.each do |detail| %>
							<tr>
								<td>
									<% link = detaillist_index_path(id: detail.id) %>
									<a href = <%= link %>><%= detail.content %></a>
								</td>
								<td>
									<% if HasUser() %>
										<% if HasLike(detail.id) %>
											<% path = issuelist_index_path(id: @me.id) + "!positive_page=" + @positive_page.to_s + "|negative_page=" + @positive_page.to_s %>
											<% link = detaillist_dislike_path + "?id=" + detail.id.to_s + "&path=" + path%>
											<%= link_to "hate me pls",link,method: :post%>
										<% else %>
											<% path = issuelist_index_path(id: @me.id) + "!positive_page=" + @positive_page.to_s + "|negative_page=" + @positive_page.to_s %>
											<% link = detaillist_like_path + "?id=" + detail.id.to_s + "&path=" + path%>
											<%= link_to "love me pls",link,method: :post%>
										<% end %>
									<% else %>
										NOT Login
									<% end %>
								</td>
							</tr>
						<% end %>
						<!-- 換頁 -->
						<% if i == 0 %>
							<tr style="text-align:center;">
								<td colspan="12">
									<table border="0" style="width:100%;">
										<tr>
											<td colspan="12" style="text-align:right;">
												<% if(@PositiveHasLastPage) %>
													<% p = ( @postive_page.to_i - 1 ).to_s %>
													<% n = @negative_page %>
													<%= link_to "上一頁", issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
												<% end %>
												<%= " " %>
												<% if(@postive_page.to_i - @PageExtend > 0) %>
													<% p = "0" %>
													<% n = @negative_page %>
													<%= link_to "1", issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
													<% if(@postive_page.to_i - @PageExtend > 1) %>
														<%= "。。。" %>
													<% end %>
												<% end %>
												<% lastPage = ( @support.length / @numberPerPage )%>
												<% for j in 1..@PageExtend %>
													<% k = @PageExtend - j + 1 %>
													<% if(@postive_page.to_i - k > -1) %>
														<% p = ( @postive_page.to_i - k ).to_s %>
														<% n = @negative_page %>
														<%= link_to ( @postive_page.to_i - k + 1).to_s, issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
													<% end %>
												<% end %>
												<%= ( @postive_page.to_i + 1 ).to_s %>
												<% for k in 1..@PageExtend %>
													<% if(@postive_page.to_i + k < lastPage + 1) %>
														<% p = ( @postive_page.to_i + k ).to_s %>
														<% n = @negative_page %>
														<%= link_to ( @postive_page.to_i + k + 1).to_s, issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
													<% end %>
												<% end %>
												<% if(@postive_page.to_i + @PageExtend < lastPage ) %>
													<% if(@postive_page.to_i + @PageExtend < lastPage - 1) %>
														<%= "。。。" %>
													<% end %>
													<% p = lastPage.to_s %>
													<% n = @negative_page %>
													<%= link_to (lastPage + 1).to_s, issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
												<% end %>
												<% if(@PositiveHasNextPage) %>
													<% p = ( @postive_page.to_i + 1 ).to_s %>
													<% n = @negative_page %>
													<%= link_to "下一頁", issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						<% else %>
							<tr style="text-align:center;">
								<td colspan="12">
									<table border="0" style="width:100%;">
										<tr>
											<td colspan="12" style="text-align:right;">
												<% if(@NegativeHasLastPage) %>
													<% p = @postive_page %>
													<% n = ( @negative_page.to_i - 1 ).to_s %>
													<%= link_to "上一頁", issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
												<% end %>
												<%= " " %>
												<% if(@negative_page.to_i - @PageExtend > 0) %>
													<% p = @postive_page %>
													<% n = "0" %>
													<%= link_to "1", issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
													<% if(@negative_page.to_i - @PageExtend > 1) %>
														<%= "。。。" %>
													<% end %>
												<% end %>
												<% lastPage = ( @disSupport.length / @numberPerPage )%>
												<% for j in 1..@PageExtend %>
													<% k = @PageExtend - j + 1 %>
													<% if(@negative_page.to_i - k > -1) %>
														<% p = @postive_page %>
														<% n = ( @negative_page.to_i - k ).to_s %>
														<%= link_to ( @negative_page.to_i - k + 1).to_s, issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
													<% end %>
												<% end %>
												<%= ( @negative_page.to_i + 1 ).to_s %>
												<% for k in 1..@PageExtend %>
													<% if(@negative_page.to_i + k < lastPage + 1) %>
														<% p = @postive_page %>
														<% n = ( @negative_page.to_i + k ).to_s %>
														<%= link_to ( @negative_page.to_i + k + 1).to_s, issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
													<% end %>
												<% end %>
												<% if(@negative_page.to_i + @PageExtend < lastPage ) %>
													<% if(@negative_page.to_i + @PageExtend < lastPage - 1) %>
														<%= "。。。" %>
													<% end %>
													<% p = @postive_page %>
													<% n = lastPage.to_s %>
													<%= link_to (lastPage + 1).to_s, issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
												<% end %>
												<% if(@NegativeHasNextPage) %>
													<% p = @postive_page %>
													<% n = ( @negative_page.to_i + 1 ).to_s %>
													<%= link_to "下一頁", issuelist_index_path(id: @tags) + "?postive_page=" + p + "&negative_page=" + n %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
			
			<!-- dissupport detail -->
		</div>
	</div>


<% end %>
