<font color="white">
<% if !@all_issue %>
<div class = "container-fluid">
<div class = "row">
	<div class = "col-md-2">
		<!-- 找到指定issuse-->
		<% tag_issue = @issues.where(id: @tags)[0] %>
		<!-- 找到指定根issuse-->
		<% temp_issue = tag_issue %>
		<% while temp_issue.trunk_id != -1 %>
			<% temp_issue.popularity = temp_issue.popularity + 1 %>
			<% temp_issue.update(popularity: temp_issue.popularity) %>
			<% temp_issue =@issues.where(id: temp_issue.trunk_id)[0] %>
		<% end %>
		<!-- 增加issuse熱門程度-->
		<% temp_issue.popularity = temp_issue.popularity %>
		<% temp_issue.update(popularity: temp_issue.popularity + 1) %>

		<!-- Tree iterative-->
		<%	def runTree(issue) %>
			<div> 
				<%	@issues.where(trunk_id: issue.id).each do |sub_issue| %> 
					<blockquote>
						<% if sub_issue.id.to_s == @tags %>
							<%= sub_issue.title %>
						<% else %>
							<% link = "/issuelist/" + sub_issue.id.to_s %>
							<a href = <%= link %> >
								<%= sub_issue.title %>
							</a>
						<% end %>
						<% runTree(sub_issue) %>
					</blockquote>
				<% end %>
			</div>
		<%	end %>
		<!-- 產生Tree -->
		<div>
			<% if temp_issue.id.to_s == @tags %>
				<%= temp_issue.title %>
			<% else %>
				<% link = "/issuelist/" + temp_issue.id.to_s %>
				<a href = <%= link %> >
					<%= temp_issue.title %>
				</a>
			<% end %>
				<% runTree(temp_issue) %>
		</div>
	</div>
    
    
	<div class = "col-md-10">
		<!-- 產生comment table -->
		<table class = "table">
			<thead>
				<tr align = "center">
					<td class = "col-md-8" colspan = "2">
						<%= @me.title %>
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class = "col-md-7">
						<%= @me.post %>
					</td>
					<td class = "col-md-1">
                        <%= link_to("我要評論", new_issuelist_path(@tags), class: "btn btn-default btn-xs") %>
					</td>
				</tr>
			</tbody>
		</table>
        <!-- 正 table-->
		<table class = "table table-bordered">
			<thead>
				<tr align = "center">
					<td class = "col-md-8" colspan = "12">
						正方
					</td>
				</tr>
				<tr style="text-align:center">
					<td class = "col-md-1">
						姓名（當時頭銜）
                    </td>
                    <td class = "col-md-1">
                        直接意見
                    </td>
					<td class = "col-md-1">
						主要論述
					</td>
                    <td class = "col-md-1">
                        論述內容
                    </td>
                    <td class = "col-md-1">
                        發表媒體
                    </td>
                    <td class = "col-md-1">
                        發表時間
                    </td>
                    <td class = "col-md-1">
                        文章來源
                    </td>
                    <td class = "col-md-1">
                        備份資料
                    </td>
					<td class = "col-md-1">
						👍 與👎
                        <%= link_to "<span class='glyphicon glyphicon-sort-by-attributes-alt'></span>", "/issuelist/" + params[:issue_id] %>
					</td>
                    <td class = "col-md-1">
                        檢舉
                    </td>
					<td class = "col-md-1">
						上線時間
                        <%= link_to "<span class='glyphicon glyphicon-sort-by-attributes-alt'></span>", "/issuelist/" + params[:issue_id] + "?orderby=Time" %>
					</td>
					<td class = "col-md-1">
						編著
					</td>
				</tr>
			</thead>
			<tbody>
                <% for i in 0..@numberPerPage-1 %>
                    <% index = @numberPerPage * @postive_page.to_i + i %>
                    <% if(@detail_supprot.length > index) %>
                        <% detail = @detail_supprot[index] %>
                        <tr style="text-align:center">
                            <td>
                                <% @persons.where(id: detail.people_id).each do |person| %>
                                    <% link = "/peoplelist/" + person.name %>
                                    <a href = <%= link %>>
                                        <%= person.name %>
                                    </a>
                                <% end %>
                                （
                                <% if(detail.title_at_that_time != nil)%>
                                    <%= detail.title_at_that_time %>
                                <% else %>
                                    無頭銜
                                <% end %>
                                ）
                            </td>
                            <td>
                                <% if(detail.is_direct)%>
                                    是
                                <% else %>
                                    否
                                <% end %>
                            </td>

                            <td>
                                <%= detail.content %>
                            </td>
                            <td>
                                <% link = "/detaillist/"+detail.id.to_s %>
                                <a href = <%= link %>>
                                    點我看更多
                                </a>
                            </td>
                            <td>
                                <% if(detail.news_media != nil)%>
                                    <%= detail.news_media %>
                                <% else %>
                                    無
                                <% end %>
                            </td>
                            <td>
                                <% if(detail.reported_at != nil)%>
                                    <%= detail.reported_at %>
                                <% else %>
                                    無
                                <% end %>
                            </td>
                            <td>
                                <% link = detail.link %>
                                <a href = <%= link %> >
                                來源網頁
                                </a>
                            </td>
                            <td>
                                <% #測試圖片存不存在 %>
                                <% link = "pageBackUp/"+detail.backup_id.to_s+".png" %>
                                <% puts Dir.entries(Rails.root + "public/pageBackUp/") %>
                                <% if File.exist?(Rails.root + "public/" + link) %>
                                    <a href = <%= "/"+link %> >
                                      備份圖片
                                    </a>
                                <% else %>
                                    <br>圖片備份中!!<br>請稍後重新整理!!
                                <% end %>
                            </td>
                            <td>
                                👍 
                                <%= detail.count_like.to_s %>
                                👎 
                                <%= detail.count_dislike.to_s %>
                                <br>
                                <%= link_to "我要 👍", thumb_detaillist_path(detail_id: detail.id, :thumb => "1" ,from_issue: true ,issue_id: @tags,postive_page: @postive_page,negative_page: @negative_page), method: :post, class: "btn-default", style: "width:200px;"%>
                                <br>
                                <p class = "col-md-2"></p>
                                  <%= link_to "我要 👎", thumb_detaillist_path(detail_id: detail.id, :thumb => "0" ,from_issue: true,issue_id: @tags ,postive_page: @postive_page, negative_page: @negative_page), method: :post, class: "btn-default", style: "width:200px;" %>
                            </td>
                            <td>
                                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#ReportModal" id="ReportModal_Button" issue_name="<%= temp_issue.title %>" post_name="<%= @users.where(id: detail.post_id)[0].nickname %>" content="<%= detail.content %>" detail_id="<%= detail.id %>"
                                >我要檢舉</button>
                            </td>
                            <td>
                                <%= detail.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                            </td>
                            <td>
                                <% @users.where(id: detail.post_id).each do |user| %>
                                    <% link = "/userlist/"+user.id.to_s %>
                                    <a href = <%= link %>>
                                        <%= user.nickname %>
                                    </a>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
                <tr style="text-align:center;">
                    <td colspan="12">
                        <table border="0" style="width:100%;">
                            <tr>
                                <td colspan="12" style="text-align:right;">
                                    <% if(@PositiveHasLastPage) %>
                                        <%= link_to "上一頁", "/issuelist/" + @tags + "/" + ( @postive_page.to_i - 1 ).to_s + "/" + @negative_page %>
                                    <% end %>
                                    <%= " " %>
                                    <% if(@postive_page.to_i - @PageExtend > 0) %>
                                        <%= link_to "1", "/issuelist/" + @tags + "/" + "0" + "/" + @negative_page %>
                                        <% if(@postive_page.to_i - @PageExtend > 1) %>
                                            <%= "。。。" %>
                                        <% end %>
                                    <% end %>
                                    <% lastPage = ( @detail_supprot.length / @numberPerPage )%>
                                    <% for j in 1..@PageExtend %>
                                        <% i = @PageExtend - j + 1 %>
                                        <% if(@postive_page.to_i - i > -1) %>
                                            <%= link_to ( @postive_page.to_i - i + 1).to_s, "/issuelist/" + @tags + "/" + ( @postive_page.to_i - i ).to_s + "/" + @negative_page %>
                                        <% end %>
                                    <% end %>
                                    <%= ( @postive_page.to_i + 1 ).to_s %>
                                    <% for i in 1..@PageExtend %>
                                        <% if(@postive_page.to_i + i < lastPage + 1) %>
                                            <%= link_to ( @postive_page.to_i + i + 1).to_s, "/issuelist/" + @tags + "/" + ( @postive_page.to_i + i ).to_s + "/" + @negative_page %>
                                        <% end %>
                                    <% end %>
                                    <% if(@postive_page.to_i + @PageExtend < lastPage ) %>
                                        <% if(@postive_page.to_i + @PageExtend < lastPage - 1) %>
                                            <%= "。。。" %>
                                        <% end %>
                                        <%= link_to (lastPage + 1).to_s, "/issuelist/" + @tags + "/" + lastPage.to_s + "/" + @negative_page %>
                                    <% end %>
                                    <% if(@PositiveHasNextPage) %>
                                        <%= link_to "下一頁", "/issuelist/" + @tags + "/" + ( @postive_page.to_i + 1 ).to_s + "/" + @negative_page %>
                                    <% end %>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
			</tbody>
		</table>
        
        <% # 反方的開始 %>
		<table class = "table table-bordered">
			<thead>
				<tr style="text-align:center">
					<td class = "col-md-8" colspan = "12">
						反方
					</td>
				</tr>
				<tr align = "center">
					<td class = "col-md-1">
                        姓名（當時頭銜）
                    </td>
                    <td class = "col-md-1">
                        直接意見
                    </td>
                    <td class = "col-md-1">
                        主要論述
                    </td>
                    <td class = "col-md-1">
                        論述內容
                    </td>
                    <td class = "col-md-1">
                        發表媒體
                    </td>
                    <td class = "col-md-1">
                        發表時間
                    </td>
                    <td class = "col-md-1">
                        文章來源
                    </td>
                    <td class = "col-md-1">
                        備份資料
                    </td>
					<td class = "col-md-1">
						👍 與👎
                        <%= link_to "<span class='glyphicon glyphicon-sort-by-attributes-alt'></span>", "/issuelist/" + params[:issue_id] %>
					</td>
                    <td class = "col-md-1">
                        檢舉
                    </td>
					<td class = "col-md-1">
						上線時間
                        <%= link_to "<span class='glyphicon glyphicon-sort-by-attributes-alt'></span>", "/issuelist/" + params[:issue_id] + "?orderby=Time" %>
					</td>
					<td class = "col-md-1">
						編著
					</td>
				</tr>
			</thead>
			<tbody>
                <% for i in 0..@numberPerPage-1 %>
                    <% index = @numberPerPage * @negative_page.to_i + i %>
                    <% if(@detail_disSupport.length > index) %>
                        <% detail = @detail_disSupport[index] %>
                        <tr style="text-align:center">
                            <td>
                                <% @persons.where(id: detail.people_id).each do |person| %>
                                    <% link = "/peoplelist/"+person.name %>
                                    <a href = <%= link %>>
                                        <%= person.name %>
                                    </a>
                                <% end %>
                                <% if(detail.title_at_that_time != nil)%>
                                    <%= detail.title_at_that_time %>
                                <% else %>
                                    無頭銜
                                <% end %>
                            </td>
                            <td>
                                
                                <% if(detail.is_direct)%>
                                    是
                                <% else %>
                                    否
                                <% end %>
                            </td>

                            <td>
                                <%= detail.content %>
                            </td>
                            <td>
                                <% link = "/detaillist/"+detail.id.to_s %>
                                <a href = <%= link %>>
                                    點我看更多
                                </a>
                            </td>
                            <td>
                                <% if(detail.news_media != nil)%>
                                    <%= detail.news_media %>
                                <% else %>
                                    無
                                <% end %>
                            </td>
                            <td>
                                <% if(detail.reported_at != nil)%>
                                    <%= detail.reported_at %>
                                <% else %>
                                    無
                                <% end %>
                            </td>
                            <td>
                                <% link = detail.link %>
                                <a href = <%= link %> >
                                來源網頁
                                </a>
                            </td>
                            <td>
                                <% #測試圖片存不存在 %>
                                <% link = "pageBackUp/"+detail.backup_id.to_s+".png" %>
                                <% puts Dir.entries(Rails.root + "public/pageBackUp/") %>
                                <% if File.exist?(Rails.root + "public/" + link) %>
                                    <a href = <%= "/"+link %> >
                                      備份圖片
                                    </a>
                                <% else %>
                                    <br>圖片備份中!!<br>請稍後重新整理!!
                                <% end %>
                            </td>
                            <td>
                                👍 
                                <%= detail.count_like.to_s %>
                                👎 
                                <%= detail.count_dislike.to_s %>
                                <br>
                                <%= link_to "我要 👍", thumb_detaillist_path(detail_id: detail.id, :thumb => "1" ,from_issue: true ,issue_id: @tags,postive_page: @postive_page,negative_page: @negative_page), method: :post, class: "btn-default", style: "width:200px;"%>
                                <br>
                                <p class = "col-md-2"></p>
                                  <%= link_to "我要 👎", thumb_detaillist_path(detail_id: detail.id, :thumb => "0" ,from_issue: true,issue_id: @tags ,postive_page: @postive_page,negative_page: @negative_page), method: :post, class: "btn-default", style: "width:200px;" %>
                            </td>
                            <td>
                                <%= detail.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                            </td>
                            <td>
                                <% @users.where(id: detail.post_id).each do |user| %>
                                    <% link = "/userlist/"+user.id.to_s %>
                                    <a href = <%= link %>>
                                        <%= user.nickname %>
                                    </a>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
                <tr style="text-align:center;">
                    <td colspan="12">
                        <table border="0" style="width:100%;">
                            <tr>
                                <td colspan="12" style="text-align:right;">
                                    <% if(@NegativeHasLastPage) %>
                                        <%= link_to "上一頁", "/issuelist/" + @tags + "/" + @postive_page + "/" + ( @negative_page.to_i - 1 ).to_s %>
                                    <% end %>
                                    <%= " " %>
                                    <% if(@negative_page.to_i - @PageExtend > 0) %>
                                        <%= link_to "1", "/issuelist/" + @tags + "/" + @postive_page + "/" + "0" %>
                                        <% if(@negative_page.to_i - @PageExtend > 1) %>
                                            <%= "。。。" %>
                                        <% end %>
                                    <% end %>
                                    <% lastPage = ( @detail_disSupport.length / @numberPerPage )%>
                                    <% for j in 1..@PageExtend %>
                                        <% i = @PageExtend - j + 1 %>
                                        <% if(@negative_page.to_i - i > -1) %>
                                            <%= link_to ( @negative_page.to_i - i + 1).to_s, "/issuelist/" + @tags + "/" + @postive_page + "/" + ( @negative_page.to_i - i ).to_s %>
                                        <% end %>
                                    <% end %>
                                    <%= ( @negative_page.to_i + 1 ).to_s %>
                                    <% for i in 1..@PageExtend %>
                                        <% if(@negative_page.to_i + i < lastPage + 1) %>
                                            <%= link_to ( @negative_page.to_i + i + 1).to_s, "/issuelist/" + @tags + "/" + @postive_page + "/" + ( @negative_page.to_i + i ).to_s %>
                                        <% end %>
                                    <% end %>
                                    <% if(@negative_page.to_i + @PageExtend < lastPage ) %>
                                        <% if(@negative_page.to_i + @PageExtend < lastPage - 1) %>
                                            <%= "。。。" %>
                                        <% end %>
                                        <%= link_to (lastPage + 1).to_s, "/issuelist/" + @tags + "/" + @postive_page + "/" + lastPage.to_s %>
                                    <% end %>
                                    <% if(@NegativeHasNextPage) %>
                                        <%= link_to "下一頁", "/issuelist/" + @tags + "/" + @postive_page + "/" + ( @negative_page.to_i + 1 ).to_s %>
                                    <% end %>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
		</table>
	</div>
</div>
</div>

<% else %> 
    <% # 要顯示所有的議題 %>
    <div class = "row">
        <div class = "col-md-offset-2 col-md-8">
            <table class="table table-bordered" >
                <thead>
                    <tr style="text-align:center">
                        <td class = "col-md-8" colspan = "3">
                            所有議題
                        </td>
                    </tr>
                    <tr align = "center">
                        <td class = "col-md-1">
                            議題
                        </td>
                        <td class = "col-md-1">
                            點閱數
                        </td>
                        <td class = "col-md-1">
                            提出時間
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <% @issues.where(trunk_id: -1).each do |issue| %>
                        <tr style="text-align:center">
                            <td>
                                <% link = "/issuelist/"+issue.id.to_s %>
                                <a href = <%= link %>>
                                    <%= issue.title %>
                                </a>
                            </td>
                            <td>
                                <%= issue.popularity %>
                            </td>
                            <td>
                                <%= issue.created_at %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
<% end %>
</font>

<!-- div Modal -->
<%= javascript_include_tag "ReportModal.js" %>
<div class="modal fade" id="ReportModal" role="dialog">
    <div class="modal-dialog">
        
        <!-- Modal 裡面的內容 -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">我要檢舉  —  </h4>
            </div>
            
            <!-- 表單 -->
            <form id="ReportForm" method="post">
                <div class="modal-body">
                    <div class="checkbox">
                        <label><input type="checkbox" value="rule1" id="CheckRule1">原始文章的截圖不符合規定</label>
                    </div>
                    <div class="checkbox" style="padding-left:40px;">
                        <label><input type="checkbox" value="rule2" id="CheckRule2">根本不是這篇文章</label>
                    </div>
                    <div class="checkbox" style="padding-left:40px;">
                        <label><input type="checkbox" value="rule3" id="CheckRule3">不完整</label>
                    </div>
                    <div class="checkbox" style="padding-left:80px;">
                        <label><input type="checkbox" value="rule4" id="CheckRule4">沒有標題</label>
                    </div>
                    <div class="checkbox" style="padding-left:80px;">
                        <label><input type="checkbox" value="rule5" id="CheckRule5">主文沒有全部擷取</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="rule6" id="CheckRule6">原始文章中沒有這段話</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="rule7" id="CheckRule7">原始文章陪提到作者有講這段話</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="rule8" id="CheckRule8">原始文章中提到的被編者局部改寫了</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="rule9" id="CheckRule9">原始文章中提到的作者講的這段話，應該被歸於贊成／反對的另一邊</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">確定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>