<link rel="stylesheet" type="text/css" href="/css/table.css">
<% 
	def HasUser()
		if current_user.nil? || current_user.id.nil?
			return false
		else
			return true
		end
	end

	def HasLike(detail_id)
		likelist =  @likeList.where(detail_id: detail_id)[0]
		if likelist.nil? || likelist.id.nil?
			return false
		else
			return true
		end
	end
%>
<div class="BigTitle">
    <h2>議題頁面</h2>
    <hr>
</div>
<% if @me == nil %>
	<div class = "whiteText">
		error,invalid parameter
	</div>
<% else %>
	<div class = "whiteText">
		<!-- find the root issue-->
		<% temp_issue = @me %>
		<% while temp_issue.trunk_id != -1 %>
			<!-- 所有根議題的點閱率都加一 -->
			<% temp_issue.popularity = temp_issue.popularity + 1 %>
			<% temp_issue.update(popularity: temp_issue.popularity) %>
			<% temp_issue =@issues.where(id: temp_issue.trunk_id)[0] %>
		<% end %>
		<% temp_issue.popularity = temp_issue.popularity + 1 %>
		<% temp_issue.update(popularity: temp_issue.popularity) %>
		<div class = "col-md-2 row">
			<!-- Tree iterative-->
			<%	def runTree(issue) %>
				<div> 
					<%	@issues.where(trunk_id: issue.id).each do |sub_issue| %> 
						<blockquote>
							<% if sub_issue.id.to_s == @tags %>
								<%= sub_issue.title %>
							<% else %>
								<% link = "/Issuelist/" + sub_issue.id.to_s %>
								<a href = <%= link %> >
									<%= sub_issue.title %>
								</a>
							<% end %>
							<% runTree(sub_issue) %>
						</blockquote>
					<% end %>
				</div>
			<%	end %>
			<!-- 產生Tree -->
			<div>
				<% if temp_issue.id.to_s == @tags %>
					<%= temp_issue.title %>
				<% else %>
					<% link = "/Issuelist/" + temp_issue.id.to_s %>
					<a href = <%= link %> >
						<%= temp_issue.title %>
					</a>
				<% end %>
					<% runTree(temp_issue) %>
			</div>
		</div>

		<div class = "col-md-10">
			<!-- title -->
			<div>
				<%= link_to "編輯", issuelist_edit_path(id: @me.id) %>
				<%= link_to "新增論述", detaillist_add_path %>
			</div>
			<table class = "table col-md-8" >
				<thead>
					<tr>
						<td align = "left"><%= @me.title %></td>
						<td style="padding-right: 0px;padding-bottom: 0px;padding-left: 0px;padding-top: 0px;"></td>
						<td align = "right">
							上線時間：<%= @me.created_at %> 
							標籤：<%= @me.tag %> 
							意見總數：<%= @me.datadetail_id.split(',').length %> 
							投票總數：<%= @me.thumb_up.split(',').length %>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td align = "left" colspan = "2"><%= @me.post %></td>
					</tr>
				</tbody>
			</table>
			<!-- support detail -->
			<% for i in 0..1 %>
				<table class = "table table-bordered">
					<thead>
						<% if i == 0 %>
							<tr align = "center"><td class = "col-md-8" colspan = "9">正方論述</td></tr>
						<% else %>
							<tr align = "center"><td class = "col-md-8" colspan = "9">反方論述</td></tr>
						<% end %>
						<tr>
							<td>誰的意見（當時頭銜）</td>
							<td>內容</td>
							<td>是否為直接意見</td>
							<td>讚</td>
							<td>報導媒體</td>
							<td>報導時間</td>
							<td>報導連結（圖片備份）</td>
							<td>上線時間</td>
							<td>編者</td>
						</tr>
						<% details = nil %>
						<% pageNumber = 0 %>
						<% if i == 0 %>
							<% details = @support %>
							<% pageNumber = @positive_page %>
						<% else %>
							<% details = @disSupport %>
							<% pageNumber = @negative_page %>
						<% end %>
						
					</thead>
					<tbody>
						<% for j in 0..@numberPerPage - 1 %>
							<% index = @numberPerPage * pageNumber.to_i + j %>
							<% if details.length > index %>
								<% detail = details[index] %> 
								<% person = @persons.where(id: detail.people_id)[0] %>
								<!-- content -->
								<tr>
									<td><% if person.nil? %>無名氏<% else %><% link = peoplelist_index_path(id: person.name) %><a href = <%= link %>> <%= person.name %> </a><% end %> ( <%= detail.title_at_that_time %> )</td>
									<td>
										<% link = detaillist_index_path(id: detail.id) %>
										<a href = <%= link %>><%= detail.content %></a>
									</td>
									<td><% if detail.is_direct %>直<% else %>間<% end %></td>
									<td>
										<%= @AllLike.where(detail_id: detail.id).length %>
										<% if HasUser() %>
											<% if HasLike(detail.id) %>
												<% path = issuelist_index_path(id: @me.id) + "!positive_page=" + @positive_page.to_s + "|negative_page=" + @positive_page.to_s %>
												<% link = detaillist_dislike_path + "?id=" + detail.id.to_s + "&path=" + path%>
												<%= link_to "收回讚",link,method: :post%>
											<% else %>
												<% if @NoMoreLike%>
													你已達到此議題的按讚上限
												<% else %>
													<% path = issuelist_index_path(id: @me.id) + "!positive_page=" + @positive_page.to_s + "|negative_page=" + @positive_page.to_s %>
													<% link = detaillist_like_path + "?id=" + detail.id.to_s + "&path=" + path%>
													<%= link_to "按讚",link,method: :post%>
												<% end %>
											<% end %>
										<% else %>
											NOT Login
										<% end %>
									</td>
									<td><%= detail.news_media %></td>
									<td><%= detail.report_at %></td>
									<td><div><% link = detail.link %><a href = <%= "//" + link %>>連結</a></div><div>備份</div></td>
								</tr>
							<% else %>
							<% end %>
						<% end %>
						<!-- 換頁 -->
						<% if i == 0 %>
							<tr style="text-align:center;">
								<td colspan="12">
									<table border="0" style="width:100%;">
										<tr>
											<td colspan="12" style="text-align:right;">
												<% if(@PositiveHasLastPage) %>
													<% p = ( @positive_page.to_i - 1 ).to_s %>
													<% n = @negative_page %>
													<%= link_to "上一頁", issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
												<% end %>
												<%= " " %>
												<% if(@positive_page.to_i - @PageExtend > 0) %>
													<% p = "0" %>
													<% n = @negative_page %>
													<%= link_to "1", issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
													<% if(@positive_page.to_i - @PageExtend > 1) %>
														<%= "。。。" %>
													<% end %>
												<% end %>
												<% lastPage = ( @support.length / @numberPerPage )%>
												<% for j in 1..@PageExtend %>
													<% k = @PageExtend - j + 1 %>
													<% if(@positive_page.to_i - k > -1) %>
														<% p = ( @positive_page.to_i - k ).to_s %>
														<% n = @negative_page %>
														<%= link_to ( @positive_page.to_i - k + 1).to_s, issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
													<% end %>
												<% end %>
												<%= ( @positive_page.to_i + 1 ).to_s %>
												<% for k in 1..@PageExtend %>
													<% if(@positive_page.to_i + k < lastPage + 1) %>
														<% p = ( @positive_page.to_i + k ).to_s %>
														<% n = @negative_page.to_s %>
														<%= link_to ( @positive_page.to_i + k + 1).to_s, issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
													<% end %>
												<% end %>
												<% if(@positive_page.to_i + @PageExtend < lastPage ) %>
													<% if(@positive_page.to_i + @PageExtend < lastPage - 1) %>
														<%= "。。。" %>
													<% end %>
													<% p = lastPage.to_s %>
													<% n = @negative_page %>
													<%= link_to (lastPage + 1).to_s, issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
												<% end %>
												<% if(@PositiveHasNextPage) %>
													<% p = ( @positive_page.to_i + 1 ).to_s %>
													<% n = @negative_page.to_s %>
													<%= link_to "下一頁", issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						<% else %>
							<tr style="text-align:center;">
								<td colspan="12">
									<table border="0" style="width:100%;">
										<tr>
											<td colspan="12" style="text-align:right;">
												<% if(@NegativeHasLastPage) %>
													<% p = @positive_page %>
													<% n = ( @negative_page.to_i - 1 ).to_s %>
													<%= link_to "上一頁", issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
												<% end %>
												<%= " " %>
												<% if(@negative_page.to_i - @PageExtend > 0) %>
													<% p = @positive_page %>
													<% n = "0" %>
													<%= link_to "1", issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
													<% if(@negative_page.to_i - @PageExtend > 1) %>
														<%= "。。。" %>
													<% end %>
												<% end %>
												<% lastPage = ( @disSupport.length / @numberPerPage )%>
												<% for j in 1..@PageExtend %>
													<% k = @PageExtend - j + 1 %>
													<% if(@negative_page.to_i - k > -1) %>
														<% p = @positive_page %>
														<% n = ( @negative_page.to_i - k ).to_s %>
														<%= link_to ( @negative_page.to_i - k + 1).to_s, issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
													<% end %>
												<% end %>
												<%= ( @negative_page.to_i + 1 ).to_s %>
												<% for k in 1..@PageExtend %>
													<% if(@negative_page.to_i + k < lastPage + 1) %>
														<% p = @positive_page %>
														<% n = ( @negative_page.to_i + k ).to_s %>
														<%= link_to ( @negative_page.to_i + k + 1).to_s, issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
													<% end %>
												<% end %>
												<% if(@negative_page.to_i + @PageExtend < lastPage ) %>
													<% if(@negative_page.to_i + @PageExtend < lastPage - 1) %>
														<%= "。。。" %>
													<% end %>
													<% p = @positive_page %>
													<% n = lastPage.to_s %>
													<%= link_to (lastPage + 1).to_s, issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
												<% end %>
												<% if(@NegativeHasNextPage) %>
													<% p = @positive_page %>
													<% n = ( @negative_page.to_i + 1 ).to_s %>
													<%= link_to "下一頁", issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n %>
												<% end %>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			<% end %>
			
			<!-- dissupport detail -->
		</div>
	</div>


<% end %>
