<script src="/js/queryToggle.js"></script>
<script src="/js/queryVoted.js"></script>
<link rel="stylesheet" type="text/css" href="/css/table.css">
<% 
	def HasUser()
		if current_user.nil? || current_user.id.nil?
			return false
		else
			return true
		end
	end

	def HasLike(detail_id)
		likelist =  @likeList.where(detail_id: detail_id)[0]
		if likelist.nil? || likelist.id.nil?
			return false
		else
			return true
		end
	end

	def getSelfLink(p,n,pos_order,neg_order,pos_show,neg_show)
		return issuelist_index_path(id: @tags) + "?positive_page=" + p + "&negative_page=" + n + "&pos_order=" + pos_order + "&neg_order=" + neg_order + "&pos_show=" + pos_show + "&neg_show=" + neg_show
	end
%>
<% def Page_produce(i) %>
	<% if i == 0 %>
		<tr style="text-align:center;">
			<td colspan="12">
				<table border="0" style="width:100%;">
					<tr>
						<td colspan="12" style="text-align:right;">
							<% if(@PositiveHasLastPage) %>
								<% p = ( @positive_page.to_i - 1 ).to_s %>
								<% n = @negative_page %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
								<%= link_to "上一頁", link %>
							<% end %>
							<%= " " %>
							<% if(@positive_page.to_i - @PageExtend > 0) %>
								<% p = "0" %>
								<% n = @negative_page %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
								<%= link_to "1", link %>
								<% if(@positive_page.to_i - @PageExtend > 1) %>
									<%= "。。。" %>
								<% end %>
							<% end %>
							<% lastPage = ( @support.length / @numberPerPage )%>
							<% for j in 1..@PageExtend %>
								<% k = @PageExtend - j + 1 %>
								<% if(@positive_page.to_i - k > -1) %>
									<% p = ( @positive_page.to_i - k ).to_s %>
									<% n = @negative_page %>
									<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
									<%= link_to ( @positive_page.to_i - k + 1).to_s, link %>
								<% end %>
							<% end %>
							<%= ( @positive_page.to_i + 1 ).to_s %>
							<% for k in 1..@PageExtend %>
								<% if(@positive_page.to_i + k < lastPage + 1) %>
									<% p = ( @positive_page.to_i + k ).to_s %>
									<% n = @negative_page.to_s %>
									<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
									<%= link_to ( @positive_page.to_i + k + 1).to_s, link %>
								<% end %>
							<% end %>
							<% if(@positive_page.to_i + @PageExtend < lastPage ) %>
								<% if(@positive_page.to_i + @PageExtend < lastPage - 1) %>
									<%= "。。。" %>
								<% end %>
								<% p = lastPage.to_s %>
								<% n = @negative_page %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
								<%= link_to (lastPage + 1).to_s, link %>
							<% end %>
							<% if(@PositiveHasNextPage) %>
								<% p = ( @positive_page.to_i + 1 ).to_s %>
								<% n = @negative_page.to_s %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
								<%= link_to "下一頁", link %>
							<% end %>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	<% else %>
		<tr style="text-align:center;">
			<td colspan="12">
				<table border="0" style="width:100%;">
					<tr>
						<td colspan="12" style="text-align:right;">
							<% if(@NegativeHasLastPage) %>
								<% p = @positive_page %>
								<% n = ( @negative_page.to_i - 1 ).to_s %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
								<%= link_to "上一頁", link %>
							<% end %>
							<%= " " %>
							<% if(@negative_page.to_i - @PageExtend > 0) %>
								<% p = @positive_page %>
								<% n = "0" %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
								<%= link_to "1", link %>
								<% if(@negative_page.to_i - @PageExtend > 1) %>
									<%= "。。。" %>
								<% end %>
							<% end %>
							<% lastPage = ( @disSupport.length / @numberPerPage )%>
							<% for j in 1..@PageExtend %>
								<% k = @PageExtend - j + 1 %>
								<% if(@negative_page.to_i - k > -1) %>
									<% p = @positive_page %>
									<% n = ( @negative_page.to_i - k ).to_s %>
									<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
									<%= link_to ( @negative_page.to_i - k + 1).to_s, link %>
								<% end %>
							<% end %>
							<%= ( @negative_page.to_i + 1 ).to_s %>
							<% for k in 1..@PageExtend %>
								<% if(@negative_page.to_i + k < lastPage + 1) %>
									<% p = @positive_page %>
									<% n = ( @negative_page.to_i + k ).to_s %>
									<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
									<%= link_to ( @negative_page.to_i + k + 1).to_s, link %>
								<% end %>
							<% end %>
							<% if(@negative_page.to_i + @PageExtend < lastPage ) %>
								<% if(@negative_page.to_i + @PageExtend < lastPage - 1) %>
									<%= "。。。" %>
								<% end %>
								<% p = @positive_page %>
								<% n = lastPage.to_s %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
								<%= link_to (lastPage + 1).to_s, link %>
							<% end %>
							<% if(@NegativeHasNextPage) %>
								<% p = @positive_page %>
								<% n = ( @negative_page.to_i + 1 ).to_s %>
								<% link  = getSelfLink(p,n,@pos_order,@neg_order,@pos_show,@neg_show)%>
								<%= link_to "下一頁", link %>
							<% end %>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	<% end %>
<% end %>
<div class="BigTitle">
    <h2>議題頁面</h2>
    <hr>
</div>
<% if @me == nil %>
	<div class = "whiteText">
		錯誤的連結位置
	</div>
<% else %>
	<div class = "whiteText">
		<!-- find the root issue-->
		<% temp_issue = @me %>
		<% while temp_issue.trunk_id != -1 %>
			<!-- 所有根議題的點閱率都加一 -->
			<% temp_issue.popularity = temp_issue.popularity + 1 %>
			<% temp_issue.update(popularity: temp_issue.popularity) %>
			<% temp_issue =@issues.where(id: temp_issue.trunk_id)[0] %>
		<% end %>
		<% temp_issue.popularity = temp_issue.popularity + 1 %>
		<% temp_issue.update(popularity: temp_issue.popularity) %>
		<div class = "col-md-2 row border-back">
			<!-- Tree iterative-->
			<%	def runTree(issue) %>
				<div> 
					<%	@issues.where(trunk_id: issue.id).each do |sub_issue| %> 
						<blockquote>
							<% if sub_issue.id.to_s == @tags %>
				                <span class="glyphicon glyphicon-collapse-down"></span>	
								<%= sub_issue.title %>
                                <a href="<%= issuelist_edit_path(id: sub_issue.id) %>">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
							<% else %>
				                <span class="glyphicon glyphicon-collapse-down"></span>	
								<% link = "/Issuelist/" + sub_issue.id.to_s %>
								<a href = <%= link %> >
									<%= sub_issue.title %>
								</a>
                                <a href="<%= issuelist_edit_path(id: sub_issue.id) %>">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
							<% end %>
							<% runTree(sub_issue) %>
						</blockquote>
					<% end %>
				</div>
			<% end %>
			<!-- 產生Tree -->
			<div>
				<% if temp_issue.id.to_s == @tags %>
                    <span class="glyphicon glyphicon-collapse-down"></span>	
					<%= temp_issue.title %>
                    <a href="<%= issuelist_edit_path(id: temp_issue.id) %>">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
				<% else %>
				    <span class="glyphicon glyphicon-collapse-down"></span>	
					<% link = "/Issuelist/" + temp_issue.id.to_s %>
                    <a href = <%= link %> >
						<%= temp_issue.title %>
					</a>
                    <a href="<%= issuelist_edit_path(id: temp_issue.id) %>">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
				<% end %>
					<% runTree(temp_issue) %>
			</div>
		</div>

		<div class = "col-md-10 border-right">
			<!-- title -->
			<div>
				<% if can_editor_issue(1,@me.id) %>
					<%= link_to "編輯", issuelist_edit_path(id: @me.id) %>
				<% end %>
				<% if can_view(0)%>
					<%= link_to "我要新增意見", detaillist_add_path %>
					<button type="button" class="btn btn-link ReportModal_Voted" data-toggle="modal" data-target="#ReportModal" issue_name="<%= @me.title %>">按讚過的議題</button>
				<% end %>
			</div>
			<table class = "table col-md-8" >
				<thead>
					<tr>
						<td align = "left"><%= @me.title %></td>
						<td style="padding-right: 0px;padding-bottom: 0px;padding-left: 0px;padding-top: 0px;background-color:white;"></td>
						<td align = "right">
							上線時間：<%= @me.created_at %> 
							標籤：<%= @me.tag %> 
							意見總數：<%= @me.datadetail_id.split(',').length %> 
							投票總數：<%= @me.thumb_up.split(',').length %>
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class = "col-md-8" align = "left" colspan = "3" ><p style="word-break: break-all;"><%= @me.post %></p></td>
					</tr>
				</tbody>
			</table>
			<!-- support detail -->
			<% for i in 0..1 %>
				<% if i == 0 %>
					<% temp = "table" %>
					<% if @pos_show == "table" %><% temp = "content" %><% else %><% temp = "table" %><% end %>
					<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,temp,@neg_show)%><a href = <%= link %> class = "btn">切換顯示內容</a>
					<a href = <%= getSelfLink(@positive_page.to_s,@negative_page.to_s,"thumb",@neg_order,@pos_show,@neg_show) %> class = "btn">依投票排序</a>
					<a href = <%= getSelfLink(@positive_page.to_s,@negative_page.to_s,"time",@neg_order,@pos_show,@neg_show) %> class = "btn">依時間排序</a>
				<% else %>
					<% temp = "table" %>
					<% if @neg_show == "table" %><% temp = "content"%><% else %><% temp = "table" %><% end %>
					<% link  = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,@pos_show,temp)%><a href = <%= link %> class = "btn">切換顯示內容</a>
					<a href = <%= getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,"thumb",@pos_show,@neg_show) %> class = "btn">依投票排序</a>
					<a href = <%= getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,"time",@pos_show,@neg_show) %> class = "btn">依時間排序</a>
				<% end %>
				
				<div <% if i == 0 %> id = "posTable" <% if @pos_show == "content" %>style="display:none;" <% end %> <% else %> id = "negTable" <% if @neg_show == "content" %>style="display:none;" <% end %><% end %>>
					<table class = "table table-bordered">
						<thead>
							<% if i == 0 %>
								<tr align = "center"><td class = "col-md-8" colspan = "9">贊成論述</td></tr>
							<% else %>
								<tr align = "center"><td class = "col-md-8" colspan = "9">反對論述 </td></tr>
							<% end %>
							<tr>
								<td>意見</td>
								<td><div>誰的意見</div><div>當時頭銜</div></td>
								<td>屬於間接意見？</td>
								<td><div>發言時間</div><div>刊載媒體</div></td>
								<td><div>原文連結</div><div>原文截圖</div></td>
								<td>人氣</td>
								<td><div>上線時間</div><div>編者</div></td>
							</tr>
							<% details = nil %>
							<% pageNumber = 0 %>
							<% if i == 0 %>
								<% details = @support %>
								<% pageNumber = @positive_page %>
							<% else %>
								<% details = @disSupport %>
								<% pageNumber = @negative_page %>
							<% end %>
							
						</thead>
						<tbody>
							<% for j in 0..@numberPerPage - 1 %>
								<% index = @numberPerPage * pageNumber.to_i + j %>
								<% if details.length > index %>
									<% detail = details[index] %> 
									<% person = @persons.where(id: detail.people_id)[0] %>
									<% user = @users.where(id: detail.post_id)[0] %>
									<!-- content -->
									<tr>
										<td>
											<% link = detaillist_index_path(id: detail.id) %>
											<a href = <%= link %>><%= detail.content %></a>
										</td>
										<td><div><% if person.nil? %>無名氏<% else %><% link = peoplelist_index_path(id: person.name) %><a href = <%= link %>> <%= person.name %> </a><% end %></div><div><%= detail.	title_at_that_time %></div></td>
										<td><% if detail.is_direct %>直<% else %>間<% end %></td>
										<td>
											<div><%= detail.report_at %></div>
											<div><%= detail.news_media %></div>
										</td>
										<td>
											<div><% link = detail.link %><a href = <%= "//" + link %>>連結</a></div>
											<div>
												<% link = "pageBackUp/"+detail.backup_id.to_s+".png" %>
            	                    			<% if File.exist?(Rails.root + "public/" + link) %>
            	                    			    <a href = <%= "/"+link %> >
            	                    			      備份圖片
            	                    			    </a>
            	                    			<% else %>
            	                    			    <br>圖片尚未備份
            	                    			<% end %>
											</div>
										</td>
										<td>
											<%= @AllLike.where(detail_id: detail.id).length %>
											<% if HasUser() %>
												<% if HasLike(detail.id) %>
													<% path = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,@pos_show,@neg_show) %>
													<% path = path.gsub('?','!').gsub('&','|') %>
													<% link = detaillist_dislike_path + "?id=" + detail.id.to_s + "&path=" + path%>
													<%= link_to "收回讚",link,method: :post%>
												<% else %>
													<% if @NoMoreLike%>
														你已達到此議題的按讚上限
													<% else %>
														<% path = getSelfLink(@positive_page.to_s,@negative_page.to_s,@pos_order,@neg_order,@pos_show,@neg_show) %>
														<% path = path.gsub('?','!').gsub('&','|') %>
														<% link = detaillist_like_path + "?id=" + detail.id.to_s + "&path=" + path%>
														<%= link_to "按讚",link,method: :post%>
													<% end %>
												<% end %>
											<% else %>
												NOT Login
											<% end %>
										</td>
										<td>
											<div><%= detail.created_at %></div>
											<div>
												<% link = userlist_index_path(id: user.id) %>
												<a href = <%= link %>>
													<%= user.nickname %>
												</a>
											</div>
										</td>
									</tr>
								<% else %>
								<% end %>
							<% end %>
							<!-- 換頁 -->
							<% Page_produce(i) %>
						</tbody>
					</table>
				</div>
				<div <% if i == 0 %> id = "posContent" <% if @pos_show == "table" %>style="display:none;" <% end %> <% else %> id = "negContent" <% if @neg_show == "table" %>style="display:none;" <% end %><% end %> >
					<table class = "table table-bordered">
						<thead>
							<% if i == 0 %>
								<tr align = "center"><td class = "col-md-8" colspan = "2">贊成論述</td></tr>
							<% else %>
								<tr align = "center"><td class = "col-md-8" colspan = "2">反對論述 </td></tr>
							<% end %>
							<tr>
								<td><div>名嘴</div><div>（當時頭銜）</div></td>
								<td>內容</td>
							</tr>
							<% details = nil %>
							<% pageNumber = 0 %>
							<% if i == 0 %>
								<% details = @support %>
								<% pageNumber = @positive_page %>
							<% else %>
								<% details = @disSupport %>
								<% pageNumber = @negative_page %>
							<% end %>
							
						</thead>
						<tbody>
							<% for j in 0..@numberPerPage - 1 %>
								<% index = @numberPerPage * pageNumber.to_i + j %>
								<% if details.length > index %>
									<% detail = details[index] %> 
									<% person = @persons.where(id: detail.people_id)[0] %>
									<% user = @users.where(id: detail.post_id)[0] %>
									<!-- content -->
									<tr>
										<td><div><% if person.nil? %>無名氏<% else %><% link = peoplelist_index_path(id: person.name) %><a href = <%= link %>> <%= person.name %> </a><% end %></div><div> ( <%= detail.	title_at_that_time %> )</div></td>
										<td>
											<% link = detaillist_index_path(id: detail.id) %>
											<a href = <%= link %>><%= detail.content %></a>
										</td>
									</tr>
								<% else %>
								<% end %>
							<% end %>
							<!-- 換頁 -->
							<% Page_produce(i) %>
						</tbody>
					</table>
				</div>
			<% end %>
			
			<!-- dissupport detail -->
		</div>
	</div>


<% end %>

<!-- div Modal -->

<div class="modal fade" id="ReportModal" role="dialog">
	<div class="modal-dialog">
		
		<!-- Modal 裡面的內容 -->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">我在 <%= @me.title %>投讚過的論述</h4>
			</div>
			
			<!-- 表單 -->
			<table class = "table table-bordered">
				<thead>
					<% if i == 0 %>
						<tr align = "center"><td class = "col-md-8" colspan = "2">贊成論述</td></tr>
					<% else %>
						<tr align = "center"><td class = "col-md-8" colspan = "2">反對論述 </td></tr>
					<% end %>
					<tr>
						<td><div>名嘴</div><div>（當時頭銜）</div></td>
						<td>內容</td>
					</tr>
				</thead>
				<tbody>
					<% if current_user.nil? %>
					<% else %>
						<%	@details.each do |detail| %>

							<% if !@AllLike.where(detail_id: detail.id,post_id: current_user.id)[0].nil? %>
								<% person = @persons.where(id: detail.people_id)[0] %>
								<% user = @users.where(id: detail.post_id)[0] %>

								<tr>
									<td><div><% if person.nil? %>無名氏<% else %><% link = peoplelist_index_path(id: person.name) %><a href = <%= link %>> <%= person.name %> </a><% end %></div><div> ( <%= detail.	title_at_that_time %> )</div></td>
										<td>
										<% link = detaillist_index_path(id: detail.id) %>
										<a href = <%= link %>><%= detail.content %></a>
									</td>
								</tr>
							<% end %>

						<% end %>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>