<% case request.fullpath %>
  <% when new_user_session_path %>
    <%= stylesheet_link_tag     "signin.css" %>
<% end %>


<br>
<br>
<div class = "container">
  <h2 class = "form-signin-heading">登入頁面</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: "form-signin"}) do |f| %>
    <div>
      <%= f.label "Email", class: "sr-only" %>
      <%= f.input_field :email, required: false, autofocus: true, placeholder: "Email", class: "form-control" %>
      <%= f.label "Password", class: "sr-only"  %>
      <%= f.input_field :password, required: false, placeholder: "Password", class: "form-control" %>

      <%= f.input_field :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.label "Remember me" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "登 入" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
