<div class = "col-md-offset-1 col-md-10">
	<%= simple_form_for @items, url: dataitems_create_path do |f| %>
		<div class = "form-group">
			<%= f.label "內容" %>
			<%= f.input_field :content, :class => "form-control" %>

			<%= f.label "Parent Node（沒有就 -1）" %>
			<%= f.input_field :parent_id, :class => "form-control" %>

			<%= f.label "Sub Node（沒有不用填）" %>
			<%= f.input_field :sub_id, :class => "form-control" %>
		</div>
		<%= f.submit "儲存", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
	<% end %>
</div>