<div class = "container">
	<%= render :template => "/dataitems/top.html.erb" %>
	<div class = "col-md-12">
		<table class = "table table-hover">
			<thead>
				<tr>
					<td class = "col-md-1">ID</td>
					<td class = "col-md-4">內容</td>
					<td class = "col-md-1">點閱次數</td>
					<td class = "col-md-1">推</td>
					<td class = "col-md-1">不推</td>
					<td class = "col-md-1">Parent id</td>
					<td class = "col-md-1">Sub id</td>
					<td class = "col-md-2">操作按鈕</td>
				</tr>
			</thead>
			<tbody>
				<% @items.each do |item| %>
				<tr>
					<td><%= item.id %></td>
					<td><%= item.content %></td>
					<td><%= item.count %></td>
					<td><%= item.agree %></td>
					<td><%= item.disagree %></td>
					<td><%= item.parent_id %></td>
					<td><%= item.sub_id %></td>
					<td>
						<%= link_to "修改", edit_dataitems_data_issue_path(item), class: "btn btn-sm btn-default"%>
						<%= link_to "刪除", dataitems_data_issue_path(item), class: "btn btn-sm btn-default", 
		                       method: :delete, data: { confirm: "確定刪除嗎?" } %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>