<link rel="stylesheet" type="text/css" href="/css/table.css">
<div class="BigTitle">
    <h2>所有名人</h2>
    <hr>
</div>
<div align = "center" class = "whiteText">
	<div class = "col-md-offset-2 col-md-8 ">
		<table class = "table table-bordered">
			<thead>
				<tr align = "center">
					<td colspan = "3">所有名人</td>
				</tr>
				<tr><td>名字</td><td>圖片</td><td>描述</td></tr>
			</thead>
			<tbody>
				<% @persons.each do |person| %>
					<tr>
						<td>
							<% link = peoplelist_index_path ( person.name) %>
							<a href = <%= link %>>
								<%= person.name %>
							</a>
						</td>
						<td>
							<% if person.pic_link.nil? || person.pic_link.empty? %>
								<%= image_tag 'http://i.imgur.com/TbBAqpV.png', width: "200" %>
							<% else %>
								<%= image_tag person.pic_link, width: "200" %>
							<% end %>
						</td>
						<td><%= person.description %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>