<div class="BigTitle">
    <h2>編輯名嘴</h2>
    <hr>
</div>
<% if current_user.nil? %>
	錯誤：請確認你是否有登入
<% else %>
	<div class >
		<div class = "container">
			<div class = "jumbotron">
				<div class = "row">
					<form action= "<%= peoplelist_update_path %> " method= "post">
						<div class = "form-group">
							<label>名嘴*</label>
							<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
							<input type = "hidden" name = "id" value = "<%= @person.id %>">
                        	<input type="text" class="form-control" name="name" required="true" value = "<%= @person.name %>" >
                        	<br>
                        	<label>描述</label>
                        	<textarea class="form-control" name="description" cols = "50" rows="5"><%= @person.description %></textarea>
                        	<br>
                        	<label>圖片連結</label>
                        	<input type="text" class="form-control" name="pic_link" value = "<%= @person.pic_link %>">
                        	<br>
                        	<div>
                        		<input type = "submit" class = "btn btn-primary" style = "width: 150px;">
                        	</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<% end %>