<link rel="stylesheet" type="text/css" href="/css/table.css">
<%
	def getSelfLink(people_order,people_search,issue_order,issue_search)
		result = ""
		if people_order.nil? || people_order.empty?
			result = result + "?people_order=" + "near_hot"
		else
			result = result + "?people_order=" + people_order
		end
		if people_search.nil? || people_search.empty?
			result = result + "&people_search=" + ""
		else
			result = result + "&people_search=" + people_search
		end
		if issue_order.nil? || issue_order.empty?
			result = result + "&issue_order=" + ""
		else
			result = result + "&issue_order=" + issue_order
		end
		if issue_search.nil? || issue_search.empty?
			result = result + "&issue_search=" + ""
		else
			result = result + "&issue_search=" + issue_search
		end
		return media_index_path(id: @me.name) + result
	end
%>
<% if @me == nil %>
	<div class = "whiteText">
		錯誤的連結位置
	</div>
<% else %>
	<div name = "whole">
		<!-- the description with @me -->

		<div class = "col-md-3 row">
			<form action="<%= media_index_path(id: @me.name) %>">
				搜尋名人
				<input type="text" name="people_search" value="<%= @people_search %>">
				<input type="hidden" name="people_order" value="<%=@people_order %>">
				<input type="hidden" name="issue_search" value="<%=@issue_search %>">
				<input type="hidden" name="issue_order" value="<%=@issue_order %>">
				<input type="submit" value="搜尋">
			</form>
			<div>
				<select name="issue_time" onchange="location = this.value;">
					<% temp = "near_hot" %>
					<% str_show = "近期熱門排序" %>
					<% link  = getSelfLink("near_hot",@people_search,@issue_order,@issue_search) %>
					<option value="<%= link %>"  <%if @people_order == "near_hot"%>selected="selected"<%end%>>
						<%= str_show %>
					</option>
					<% temp = "time" %>
					<% str_show = "歷史熱門" %>
					<% link  = getSelfLink("time",@people_search,@issue_order,@issue_search) %>
					<option value="<%= link %>" <%if @people_order == "time"%>selected="selected"<%end%>>
						<%= str_show %>	
					</option>
					<% temp = "time" %>
					<% str_show = "最有影響力" %>
					<% link  = getSelfLink("influence",@people_search,@issue_order,@issue_search) %>
					<option value="<%= link %>" <%if @people_order == "influence"%>selected="selected"<%end%>>
						<%= str_show %>	
					</option>
				</select>
			</div>
			<div style="border-style: solid;" >名人清單</div>
			<div style="overflow: scroll;height: 300px;border-style: solid;">
				<% @people.each  do |item|%>
					<% link  = peoplelist_index_path(id: item.name)%>
					<a href=<%= link %>>
						<%= item.name %>
					</a>
					<br>
				<% end %>
			</div>
		</div>
		<div class = "col-md-offset-1 col-md-8 row">

			<div class = "whiteText row">
				<div >
					<% if can_editor_people()%>
						<div align = "right"><a href = <%= peoplelist_edit_path(id: @tags) %>>編輯</a></div>
					<% end %>
					<!--
					<table class = "table table-bordered">
						<thead>
							<tr align = "center" ><td colspan = "1"><%= @me.name %></td></tr>
						</thead>
						<tbody>
							<tr>
								<!--<td class = "col-md-3">
									<% if @me.pic_link.nil? || @me.pic_link.empty? %>
										<%= image_tag 'http://i.imgur.com/TbBAqpV.png', width: "200" %>
									<% else %>
										<%= image_tag @me.pic_link, width: "200" %>
									<% end %>
								</td>  -->
								<!--<td class = "col-md-5"><%= @me.description %></td> 
							</tr>
						</tbody>
					</table>-->
					<h2 align="center"><%= @me.name %></h2>
				</div>
			</div>
			<!-- tables with all the detail -->
			<div class = "whiteText row">
				<div align = "center">
					名人語錄
					 <form action="<%= peoplelist_index_path(id: @me.name) %>">
						搜尋議題
						<input type="text" name="issue_search" value="<%= @issue_search %>">
						<input type="hidden" name="people_order" value="<%=@people_order %>">
						<input type="hidden" name="people_search" value="<%=@people_search %>">
						<input type="hidden" name="issue_order" value="<%=@issue_order %>">
						<input type="submit" value="搜尋">
					</form>
				</div>
				<div>
					<table class = "table table-bordered">
						<thead>
							<tr align = "center" >
								<td>議題</td>
								
								<td>讚成或反對</td>
								<td style="width: 500px" >意見</td>
							</tr>
						</thead>
						<tbody>
							<% @details.each do |detail| %>
								<% issue = @issues.where(id: detail.issue_id)[0] %>
								<% if issue.nil?  %>
									<% next %>
								<% end %>
								<tr>
									<td>
										<% link = issuelist_index_path(id: issue.id) %>
										<a href = <%= link %>>
											<%= issue.title %>
										</a>
									</td>
									<td>
										<% if detail.is_support %>
											讚成
										<% else %>
											反對
										<% end %>
									</td>
									<td style="width: 500px" >
										<% link = detaillist_index_path(id: detail.id) %>
										<a href = <%= link %>>
											<%= detail.content %>
										</a>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
	</div>
<% end %>