<% if !@all_people %>
<div class = "container"><font color="white">
<div class = "row">
  <div class = "col-md-4">
      <div>
        <%= @person.name %>
      </div>
      <div>
        <% if @person.pic_link.nil? || @person.pic_link.empty?  %>
          <%= image_tag 'http://i.imgur.com/TbBAqpV.png', width: "200" %>
        <% else %>
          <%= image_tag @person.pic_link, width: "200" %>
        <% end %>
      </div>
  </div>
  <div class = "col-md-8">
    <table class = "table table-bordered">
      <thead>
        <tr>
          <td class = "col-md-8" colspan = "1">關於 <%= @person.name %>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr align = "center">
          <td><%= @person.description %></td>
        </tr>
      </tbody>
      
    </table>
  </div>
</div>
<div class = "row">
  <div><br></div>
  <div class = "col-md-12">
    <table class = "table table-bordered">
      <thead>
        <tr align = "center">
          <td class = "col-md-12" colspan = "6">
            <%= @person.name %> 說過的話
          </td>
        </tr>
        <tr align = "center">
          <td class = "col-md-3"><font color="white">
            議題
          </td>
          <td class = "col-md-1"><font color="white">
            態度
          </td>
          <td class = "col-md-5"><font color="white">
            主要論述
          </td>
          <td class = "col-md-1"><font color="white">
            原始文章
          </td>
          <td class = "col-md-1"><font color="white">
            發表時間
          </td>
          <td class = "col-md-1"><font color="white">
            編著
          </td>
        </tr>
      </thead>
      <tbody>
          <% @details.each do |detail| %>
            <tr align = "center">
              <td class = "col-md-1">
                <% @issues.where(id: detail.issue_id).each do |issue| %>
                  <% link = "/issuelist/"+issue.id.to_s %>
                  <a href = <%= link %> >
                    <%= issue.title %>
                  </a>
                <% end %>
              </td>
              <td class = "col-md-1"><font color="white">
                <% if detail.is_support == true %>
                  支持
                <% else %>
                  反對
                <% end %>
              </td>
              <td class = "col-md-3"><font color="white">
                <%= detail.content %>
              </td>
              <td class = "col-md-1"><font color="white">
                <% link = "/detaillist/"+detail.id.to_s %>
                <a href = <%= link %> >
                  原始文章
                </a>
              </td>
              <td class = "col-md-1"><font color="white">
                <%= detail.updated_at %>
              </td>
              <td class = "col-md-1"><font color="white">
                <% @users.where(id: detail.post_id).each do |user| %>
                  <% link = "/userlist/"+user.id.to_s %>
                  <a href = <%= link %> >
                    <%= user.nickname %>
                  </a>
                <% end %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
</font>
<% else %> 

<div class = "container">
<div class = "row">
  <div class = "col-md-offset-1 col-md-10">
    <table class = "table table-bordered">
      <thead>
        <tr align = "center">
          <td class = "col-md-10" colspan = "7"> <font color="white">
            所有名人
          </td>
        </tr>
        <tr>
          <td class = "col-md-2"><font color="white">姓名</td>
		      <td class = "col-md-3"><font color="white">圖片</td>
		      <td class = "col-md-5"><font color="white">描述</td>
        </tr>
      </thead>
      <tbody>
        <% @persons.each do |human| %>
          <tr>
            <td><font color="white">
              <% link = "/peoplelist/"+human.name %>
              <a href = <%= link %> >
                <%= human.name %>
              </a>
            </td>
            <td><font color="white">
              <% if human.pic_link.nil? || human.pic_link.empty?  %>
                <%= image_tag 'http://i.imgur.com/TbBAqpV.png', width: "200" %>
              <% else %>
                <%= image_tag human.pic_link, width: "200" %>
              <% end %>
            </td>
            <td><font color="white">
              <%= human.description %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>

<% end %>