<style>
.whiteText {
	color: black;
}
</style>
<%
	#通知數量
	if current_user.nil?
	else
		@number = 0
		@no_issues = []
		@notifyList = NotifyList.where(user_id: current_user.id)
		issueList = []
		@notifyList.each do |notify|
			issueList.push(notify.issue_id)
		end
		@issues = DataIssue.where(id: issueList)
		detailList = []
		@details  = DataDetail.where(issue_id: issueList,is_report: false)
		@issues.each do |issue|
			notify = @notifyList.where(issue_id: issue.id)[0]
			no_detail = @details.where(issue_id: issue.id).where('created_at >= ?',notify.last_read)
			@number = @number + no_detail.length
			@no_issues.push(no_detail.length)
		end
	end
%>
<nav class = "navbar navbar-inverse navbar-fixed-top headTop"> 
	<div class = "container-fluid">
        <div class = "navbar-header">
			<!-- 當螢幕太小的時候，可以變成一個按鈕紐縮放 -->
			<button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#navbar-login" aria-expanded = "false" aria-controls = "navbar">
				<span class = "sr-only">按鈕的斜線</span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>

			<!-- 網頁的 Title -->
			<a class = "navbar-brand headLogo" href="/">
                <img src="/blanceLogoTrans.png">
                <div>
                    <font size="8">天平共筆(Balnote)</font>
				    <h4 style="margin-top: 20px;margin-left: 20px;">正反公平發聲，公道自在人心</h4>
                </div>
			</a>
		</div>
				<!-- 要縮起來的其他東西 -->
		<div id = "navbar-login" class = "collapse navbar-collapse">
			<ul class = "nav navbar-nav navbar-right">

								<% link=issuelist_all_path %>
								<% black = false %>
								<% if request.path == issuelist_all_path%>
									<% black = true %>
								<% end %>
								<li><a href="<%= link %>" class = "headLink" <%if black%> style="color:black !important;" <%end%>>議題</a></li>

								<% link=peoplelist_all_path %>
								<% black = false %>
								<% if !@tags.nil? %>
									<% if request.path  == peoplelist_index_path %>
										<% black = true %>
									<% end %>
								<% end %>
								<li><a href="<%= link %>" class = "headLink" <%if black %> style="color:black !important;" <%end%>>名人</a></li>
								
								<% link = treeindex_path %>
								<% black = false %><% if request.path  == treeindex_path%><% black = true %><% end %>
								<li><a href="<%= link %>" class = "headLink"<%if black %> style="color:black !important;" <%end%>>議題樹</a></li>
								<% if !current_user %>
										<% #沒有登入的時候 %>
										<li><a href="<%= register_email_path %>" class="headLink">註冊會員</a></li>
										<li><a href="<%= login_path %>" class="headLink">會員登入</a></li>
										<li><a href="<%= about_us_path %>" class="headLink">關於我們</a></li>
								<% else %>
										<% #有登入的時候 %>
										<% #通知的 Dropdown %>
										<!--<li class="dropdown">
										</li>-->
										<li class = "dropdown">
											<a class="dropdown-toggle headLink" data-toggle="dropdown" style="padding-bottom: 10px;">通知<span class="badge notifications_Number"><%= @number %></span></a>
											<ul class="dropdown-menu notifications_Box" style="top: 85px;padding-left: 1px;padding-right: 1px;">
												<% @issues.each do |issue|%>
													<% notify =  @notifyList.where(issue_id: issue.id)[0] %>
													<% if notify.newest_detail > notify.last_read %>
														<% link = issuelist_index_path(id: issue.id)%>
														<li><a class = "headLink" href = <%= link %>> <%= issue.title %> NEW <%= @no_issues.shift %> </a></li>
													<% else %>
														<% link = issuelist_index_path(id: issue.id)%>
														<li><a class = "headLink" href = <%= link %>> <%= issue.title %></a></li>
													<% end %>
												<% end %>
												<% if @issues.length == 0 %>
													無訂閱議題
												<% end %>
											</ul>
										</li>
										
										<% #帳號的 Dropdown %>
										<li class="dropdown">
												<a href="#" class="dropdown-toggle headLink" data-toggle="dropdown" style="padding-bottom: 10px;">
														Hi!, <%= current_user.nickname %>
													<span class="caret"></span>
											</a>
											<ul class="dropdown-menu" style="top: 85px;padding-left: 1px;padding-right: 1px;">
													<li><a href="<%= about_us_path %>" class="headLink">關於我們</a></li>
													<% link = userlist_edit_path(id: current_user.id)%>
													<li><a href=<%= link%> class="headLink">使用者資料</a></li>
													<% link = userlist_index_path(id: current_user.id)%>
													<li><a href=<%= link%> class="headLink">使用者頁面</a></li>
													<li><a href="<%= logout_path %>" class="headLink" data-method="delete">登出</a></li>
													
													<% #分隔線 %>
													<li class="divider"></li>
													
													<% #確定是什麼權限 %>
													<% case current_user.level %>
													<% when 3%>
															<li class="dropdown-header headLink">最高管理者</li>
													<% when 2%>
															<li class="dropdown-header headLink">網管</li>
													<% when 1%>
															<li class="dropdown-header headLink">高階使用者</li>
													<% else %>
															<li class="dropdown-header headLink">普通使用者</li>
													<% end %>
													
													<% if can_Trial()%>
														<li><%= link_to "網管頁面", manager_path, class: "headLink" %></li>
													<% end %>
													
													<% if current_user.level == 3 %>
														<li class=" headLink"><%= link_to "啟動寄信程序",open_thread_path,style: 'color:#A0D8FF;align: left;',method: :post%></li>
														<% if current_user.nickname == "kasim" %>
														<li class=" headLink"><%= link_to "啟動大備份",backUpDetail_path,style: 'color:#A0D8FF;align: left;',method: :post%></li>
														<% end %>
													<% end %>
											</ul>
										</li>
								<% end %>
			</ul>
		</div>
	</div>
</nav>