<nav class = "navbar navbar-inverse navbar-fixed-top"> 
	<div class = "container-fluid">
		<div class = "navbar-header">
			<!-- 當螢幕太小的時候，可以變成一個按鈕紐縮放 -->
			<button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#navbar-login" aria-expanded = "false" aria-controls = "navbar">
				<span class = "sr-only">按鈕的斜線</span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>

			<!-- 網頁的 Title -->
			<a class = "navbar-brand" href="/">正反網頁 Version 4.1.0</a>
		</div>

		<!-- 要縮起來的其他東西 -->
		<div id = "navbar-login" class = "collapse navbar-collapse">
			<!-- 靠左側的按鈕 -->
			<ul class = "nav navbar-nav">
				<li class = "acitve"><a href = "#">關於</a></li>
			</ul>

			<!-- 靠右側的按鈕 -->
			<ul class = "nav navbar-nav navbar-right">
				<li><%= link_to "管理者頁面", dataitems_data_issues_path %></li>
                <% if !current_user %>
                    <% #沒有登入的時候 %>
                    <li><%= link_to("註冊", new_user_registration_path) %></li>
                    <li><%= link_to("登入", new_user_session_path) %></li>
                <% else %>
                    <% #有登入的時候 %>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Hi!, <%= current_user.nickname %>#<%= current_user.id %>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li> <%= link_to "帳號設定", edit_user_registration_path %> </li>
                        <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
                        
                        <% #分隔線 %>
                        <li class="divider"></li>
                        <% #要變成最高管理權限 %>
                        <% if current_user.high_power == true %>
                            <li> <%= link_to "有最高權限", "/" %> </li>
                        <% else %>
                            <li> <%= link_to "普通", "/" %> </li>
                        <% end %>
                    </ul>
              </li>
            <% end %>
			</ul>
		</div>
	</div>
</nav>