<link rel="stylesheet" type="text/css" href="/css/table.css">
<div class="BigTitle">
    <h2>所有檢舉</h2>
    <hr>
</div>
<% if current_user.nil? %>
	<div class = "whiteText">
		錯誤：請確認你是否有登入
	</div>
<% else %>
	<!-- show detail data-->
	<div class = "whiteText row">
		<div class = "col-md-offset-1 col-md-10 row">
			<div align = "right">
			</div>
			<table class = "table table-bordered">
				<thead>
					<tr align = "center" >
						<td>議題</td>
						<td>論述</td>
						<td>原因</td>
						<td>編者</td>
						<td>處置</td>
					</tr>
				</thead>
				<tbody>
					<% @reportlist.each do |item| %>
						<% detail = @detaillist.where(id: item.detail_id)[0] %>
						<% issue = @issuelist.where(id: detail.issue_id)[0] %>
						<% user = @userlist.where(id: detail.post_id)[0] %>
						<tr>
							<td>
								<% link = issuelist_index_path(id: issue.id) %>
								<a href = <%= link %>>
									<%= issue.title %>
								</a>
							</td>
							<td>
								<% link = detaillist_index_path(id: detail.id) %>
								<a href = <%= link %>>
									<%= detail.content %>
								</a>
							</td>
							<td>
								<% link = reportlist_index_path(id: item.id) %>
								<a href = <%= link %>>
									<%= item.cause %>
								</a>
							</td>
							<td>
								<% link = userlist_index_path(id: user.id) %>
								<a href = <%= link %>>
									<%= user.nickname %>
								</a>
							</td>
							<td>
								<div>
									<% link = reportlist_accept_path + "?id=" + item.id.to_s + "&detail_id=" + detail.id.to_s + "&issue_id=" + issue.id.to_s %>
									<%= link_to "接受",link,method: :post%>
								</div>
								<div>
									<% link = reportlist_reject_path + "?id=" + item.id.to_s + "&detail_id=" + detail.id.to_s + "&issue_id=" + issue.id.to_s %>
									<%= link_to "駁回",link,method: :post%>
								</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
<% end %>