<%
	def cause_string(cause_index)
		cause = ">"
		if cause_index == 1
			cause += "原始文章的截圖不符合規定"
		end
		if cause_index == 2
			cause += ">根本不是這篇文章"
		end
		if cause_index == 3
			cause += ">不完整"
		end
		if cause_index == 4
			cause += ">>沒有標題"
		end
		if cause_index == 5
			cause += ">>主文沒有全部擷取"
		end
		if cause_index == 6
			cause += "原始文章中沒有這段話"
		end
		if cause_index == 7
			cause += "原始文章陪提到作者有講這段話"
		end
		if cause_index == 8
			cause += "原始文章中提到的被編者局部改寫了"
		end
		if cause_index == 9
			cause += "原始文章中提到的作者講的這段話，應該被歸於贊成／反對的另一邊"
		end
		return cause;
	end
%>
<div class = "container"><font color="white">	
<div class = "row">
  <div class = "col-md-12">
	<table class = "table table-bordered">
	  <thead>
		<tr align = "center">
		  <td class = "col-md-1"><font color="white">
			所屬議題
		  </td>
		  <td class = "col-md-1"><font color="white">
			論述
		  </td>
		  <td class = "col-md-4"><font color="white">
			檢舉原因
		  </td>
		  <td class = "col-md-1"><font color="white">
			編者
		  </td>
		  <td class = "col-md-1"><font color="white">
			檢舉時間
		  </td>
		  <td class = "col-md-3"><font color="white">
			審核結果
		  </td>
		  <td class = "col-md-1"><font color="white">
		  	審核
		  </td>
		</tr>
	  </thead>
	  <tbody>
	  	<% @reportDetail.each do |item| %>
	  		<% detail = @detail.where(id: item.detail_id)[0] %>
	  		<% issue = @issue.where(id: detail.issue_id)[0] %>
	  		<% user = @user.where(id: detail.post_id)[0] %>
			<tr>
				<td class = "col-md-1"><font color="white">
					<% link = "/issuelist/"+issue.id.to_s %>
						<a href = <%= link %>>
							<%= issue.title %>
						</a>
					
				</td>
				<td class = "col-md-1"><font color="white">
					<% link = "/detaillist/"+detail.id.to_s %>
						<a href = <%= link %>>
							<%= detail.content%>
						</a>
					
				</td>
				<td class = "col-md-4"><font color="white">
					<% cause = item.cause.split(",") %>
					<% has_reason = false %>
					<% for i in 1..9 %>
						<% if cause.include?(i.to_s) %>
							<% has_reason = true %>
							<%= cause_string(i) %><br>
						<% end %>
					<% end %>
					<% if !has_reason %>
						<%= "未填寫" %>
					<% end %>
				</td>
				<td class = "col-md-1"><font color="white">
					<%= user.nickname %>
				</td>
				<td class = "col-md-1"><font color="white">
					<%= item.created_at %>
				</td>
				<td class = "col-md-3"><font color="white">
					<% if detail.is_report && !item.is_check %>
						未審核
					<% elsif detail.is_report && item.is_check%>
						檢舉成立
					<% else %>
						檢舉駁回
					<% end %>
				</td>
				<td class = "col-md-1">
					<% if item.is_check %>
						已審核
					<% else %>
						<%= link_to "檢舉成立", reportlist_check_path(detail_id: detail.id,
							report_id: item.id,
							is_banded: true), method: :post, class: "btn-default", style: "width:200px;" %>
                        <%= link_to "檢舉駁回", reportlist_check_path(detail_id: detail.id,
							report_id: item.id,
							is_banded: false), method: :post, class: "btn-default", style: "width:200px;" %>
					<% end %>
				</td>
			</tr>
		<% end %>
	  </tbody>
	</table>
</div>
</div>