<div class = "container"><font color="white">
<div class = "row">
  <div class = "col-md-12">
	<table class = "table table-bordered">
	  <thead>
		<tr align = "center">
		  <td class = "col-md-1"><font color="white">
			所屬議題
		  </td>
		  <td class = "col-md-1"><font color="white">
			議論
		  </td>
		  <td class = "col-md-4"><font color="white">
			檢舉原因
		  </td>
		  <td class = "col-md-1"><font color="white">
			編者
		  </td>
		  <td class = "col-md-1"><font color="white">
			檢舉時間
		  </td>
		  <td class = "col-md-3"><font color="white">
			審核結果
		  </td>
		  <td class = "col-md-1"><font color="white">
		  	審核
		  </td>
		</tr>
	  </thead>
	  <tbody>
	  	<% @reportDetail.each do |item| %>
	  		<% detail = @detail.where(id: item.detail_id)[0] %>
	  		<% issue = @issue.where(id: detail.issue_id)[0] %>
	  		<% user = @user.where(id: detail.post_id)[0] %>
			<tr>
				<td class = "col-md-1"><font color="white">
					<% link = "/issuelist/"+issue.id.to_s %>
						<a href = <%= link %>>
							<%= issue.title %>
						</a>
					
				</td>
				<td class = "col-md-1"><font color="white">
					<% link = "/detaillist/"+detail.id.to_s %>
						<a href = <%= link %>>
							<%= detail.content%>
						</a>
					
				</td>
				<td class = "col-md-4"><font color="white">
					檢舉原因
				</td>
				<td class = "col-md-1"><font color="white">
					<%= user.nickname %>
				</td>
				<td class = "col-md-1"><font color="white">
					<%= item.created_at %>
				</td>
				<td class = "col-md-3"><font color="white">
					<% if detail.is_report && !item.is_check %>
						未審核
					<% elsif detail.is_report && item.is_check%>
						檢舉成立
					<% else %>
						檢舉駁回
					<% end %>
				</td>
				<td class = "col-md-1">
					<% if item.is_check %>
						已審核
					<% else %>
						<%= link_to "檢舉成立", reportlist_check_path(detail_id: detail.id,
							report_id: item.id,
							is_banded: true), method: :post, class: "btn-default", style: "width:200px;" %>
                        <%= link_to "檢舉駁回", reportlist_check_path(detail_id: detail.id,
							report_id: item.id,
							is_banded: false), method: :post, class: "btn-default", style: "width:200px;" %>
					<% end %>
				</td>
			</tr>
		<% end %>
	  </tbody>
	</table>
</div>
</div>