<% if !request.original_url.include?("MediaName") && !request.original_url.include?("PeopleName") && !request.original_url.include?("IssueName") && !request.original_url.include?("IssueID") && !request.original_url.include?("tree_check") && !request.original_url.include?("TreeCanvas") && !request.original_url.include?("TreeJson") %>
    <!DOCTYPE html>
    <html>
    <head>
        <title>PNWEB</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <!-- For moblie --> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="stylesheet" type="text/css" href="/css/navbar.css">

        
        
        
        <meta property="og:description"   content="Your description" />
        
    </head>
    <body>

        <%= render "common/navbar" %>
        <!-- 給 notice_message 使用 -->
        <div class = "container-fluid" style="position: relative; padding-top: 100px;">
            <%= notice_message %>
        </div>
        <%= yield %>

        <%= render "common/footer" %>
    </body>
    </html>
<% else %>
    <%= yield %>
<% end %>